﻿<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>密码设置</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/new.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <script src="static/js/md5.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9" id="app" v-cloak>
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="4"></div>
                <div class="personal-right fr bb">
                    <div class="information-title">安全信息</div>
                    <ul class="certif-content">
                        <li>
                            <div class="cert-content f-cb">
                                <div class="name f-cb">
                                    <img src="static/imgs/cer03.png">
                                    <h1>登录密码</h1>
                                    <p class="gray">已设置</p>
                                    <a href="javascript:;"><h2 class="hover" data-tit="密码修改" data-tith="取消修改">密码修改</h2></a>
                                </div>
                                <div class="cert">
                                    <dl class="f-cb">
                                        <!-- <dd>
                                              新邮箱：<input type="text" class="your" name="yournamer" placeholder="请输入原密码"/>
                                        </dd> -->
                                        <dd>
                                            新密码：<input type="password" class="your" v-model="modifyPwd.pwd" name="yourcert" placeholder="请输入新密码"/>
                                        </dd>
                                        <dd>
                                            重复新密码：<input type="password" class="your" v-model="modifyPwd.repwd" name="surecert" placeholder="重复新密码"/>
                                        </dd>
                                        <dd>
                                            手机验证码：<input type="text" class="phonedown" v-model="modifyPwd.code" name="yourphone"/>
                                            <input type="button" name="" class="code2" value="获取验证码" @click="sendMessage('code2')" />
                                            <!-- <input type="button" name="" class="code" id="code" value="获取验证码"   @click="codeButton"> -->

                                        </dd>
                                    </dl>
                                    <a href="javascript:;"><div class="sure" @click="pwdSubmit($event)">确认</div></a>
                                    <p>为了保障您的账户信息安全，在变更重要信息时需要进行身份验证</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="cert-content f-cb">
                                <div class="name f-cb">
                                    <img src="static/imgs/cer05.png">
                                    <h1>提现密码</h1>
                                    <p :class="trade_pwd==''?'':'gray'">{{trade_pwd==''?"设置":"已设置"}}</p>
                                    <a href="javascript:;"><h2 class="hover" data-tit="开始设置" data-tith="取消设置">开始设置</h2></a>
                                </div>
                                <div class="cert">
                                    <dl class="f-cb">
                                        <dd>
                                              登录密码：<input type="text" class="your" v-model="setTradePwd.login_pwd" name="yournamer" placeholder="请输入登录密码"/>
                                        </dd>
                                        <!-- <dd>
                                            身份证号码：<input type="text" class="your" name="yourcert" v-model="setTradePwd.card_id" placeholder="请输入身份证号码"/>
                                        </dd> -->
                                        <dd>
                                            提现密码：<input type="text" class="your" name="surecert" v-model="setTradePwd.trade_pwd" placeholder="请输入6位可以是字母和数字组合" maxlength="6" />
                                        </dd>
                                        <dd>
                                            重复提现密码：<input type="text" class="your" name="yourpic" v-model="setTradePwd.trade_pwd_reply" placeholder="重复提现密码"/>
                                        </dd>
                                        <dd>
                                            验证码：<input type="text" class="phonedown" v-model="setTradePwd.code" name="yourphone"/>
                                            <input type="button" class="code4" value="获取验证码" @click="sendMessage('code4')" />
                                        </dd>
                                    </dl>
                                    <a href="javascript:;"><div class="sure" @click="setTradeSubmit($event)">确认</div></a>
                                    <p>为了保障您的账户信息安全，在变更重要信息时需要进行身份验证</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
            $(function(){
                function getQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]);
                    return null;
                }

                var id = getQueryString("type");
                if (id == 3) {
                    var tith = $('.certif-content li').eq(id - 1).find('.name h2.hover').data("tith");
                    $('.certif-content li').eq(id - 1).find('.name h2.hover').addClass('cur');
                    $('.certif-content li').eq(id - 1).find('.name h2.hover').html(tith);
                    $('.certif-content li').eq(id - 1).find(".cert").stop().slideDown();
                };
                $('.certif-content .name h2.hover').click(function(){
                    if ($(this).hasClass("gray")) {
                        return false;
                    }
                    var tit = $(this).data("tit");
                    var tith = $(this).data("tith");
                    if ($(this).hasClass('cur')) {
                        $(this).removeClass('cur');
                        $(this).html(tit);
                        $(this).parents("li").find(".cert").stop().slideUp();
                    }else{
                        $(this).addClass('cur');
                        $(this).html(tith);
                        $(this).parents("li").find(".cert").stop().slideDown();
                    }
                })
            })
        </script>
        <script>
            var JQthis =$(this);
        new Vue({
        el:'#app',
            props: {
            },
            data:function() {
                return {
                    mobile:"",
                    list:{},
                    coderefid:"",
                    modifyPwd:{
                        pwd:"",
                        repwd:"",
                        code:""
                    },
                    setTradePwd:{
                        trade_pwd:"",
                        trade_pwd_reply:"",
                        login_pwd:"",
                        // card_id:"",
                        code:""
                    },
                    authentication:{
                        frontcard:"",
                        backcard:"",
                        true_name:"",
                        card_id:"",
                        code:""
                    },
                    trade_pwd:''

                };
            },
            computed: {
            },
           
            mounted:function() {
                // this.safeinfo()
                this.mydetail()
                
            },
            watch: {
            },
            methods: {
                // 发送短信
                sendMessage:function(obj){
                    var _this =this;
                    axios.get('/index/index/sendMessage',{params:{mobile:login.account}})
                    .then(function (res) {
                            if(res.data.status=='1'){
                                _this.coderefid=res.data.list
                                var code = $("."+obj);
                                code.attr("disabled","disabled");
                                var time = 60;
                                var set=setInterval(function(){
                                    code.val(""+--time+"秒后重新获取");
                                }, 1000);
                                setTimeout(function(){
                                    code.attr("disabled",false).val("获取验证码");
                                    clearInterval(set);
                                }, 60000);
                            }else{
                                alert("验证码获取失败，重新获取！")
                            }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                 mydetail:function() {
                     var _this =this
                    axios.get('/index/index/mydetail', { params: login })
                        .then(function (res) {
                            if (res.data.status == 1) {
                                _this.trade_pwd = res.data.list.trade_pwd
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                // 修改密码
                pwdSubmit:function(e){
                    var _this =this;
                    if(login==undefined){
                        window.location.href='login.html?type=0'
                        return false;
                    }
                    if (_this.modifyPwd.pwd==""||_this.modifyPwd.repwd==""||_this.modifyPwd.code=="") {
                        alert("请填写密码和验证码！")
                        return false;
                    }
                    console.log()
                    if(_this.modifyPwd.pwd !==_this.modifyPwd.repwd){
                        alert("两次输入密码不一致!")
                        return false;
                    }
                    if (hex_md5(_this.modifyPwd.code)==_this.coderefid) {
                    }else{
                        alert("验证码错误！")
                        return false;
                    }
                    var _en=e
                    axios.get('/index/index/modifyPwd',{params:Object.assign(login,_this.modifyPwd)})
                    .then(function (res) {
                            if(res.data.status=='1'){
                                _this.list =res.data.list
                                _this.surep(_en.target)
                                alert("登录密码修改成功！")
                                
                            }else{
                                alert("登录密码修改失败！")
                            }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                surep:function(el){
                    el = $(el)
                    var tit = el.parents("li").find('h2.hover').data("tit");
                    el.parents("li").find('h2.hover').removeClass('cur');
                    el.parents("li").find('h2.hover').html(tit);
                    el.parents(".cert").stop().slideUp();
                },
                setTradeSubmit:function(e){
                    var _this =this;
                    if (_this.setTradePwd.trade_pwd==""||_this.setTradePwd.trade_pwd_reply==""||_this.setTradePwd.login_pwd==""||_this.setTradePwd.code=="") {
                        alert("请填写交易密码和验证码！")
                        return false;
                    }
                    if(_this.setTradePwd.trade_pwd !==_this.setTradePwd.trade_pwd_reply){
                        alert("两次输入密码不一致!")
                        return false;
                    }
                    if (hex_md5(_this.setTradePwd.code)==_this.coderefid) {
                    }else{
                        alert("验证码错误！")
                        return false;
                    }
                    var _en=e;
                    axios.get('/index/index/setTradePwdPC',{params:Object.assign(login,_this.setTradePwd)})
                    .then(function (res) {
                            if(res.data.status=='1'){
                                _this.list =res.data.list;
                                _this.surep(_en.target)
                                alert("提现密码修改成功！")
                            }else{
                                alert("提现密码修改失败！")
                            }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
             
            },
            components: {
            },
        })
        </script>
    </body>
</html>