<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>客服中心</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/personal.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>

        <!-- <script src="static/js/html5.js"></script> -->
        <!-- <script src="static/js/jquery.easing.1.3.js"></script> -->
        <!-- <script src="static/js/jquery.transit.js"></script> -->
        <!-- <script src="static/js/jquery.lazyload.js"></script> -->
        <!-- <script src="static/js/plug.preload.js"></script> -->
        <!-- <script src="static/layer/layer.js"></script> -->
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9" id="app">
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="7"></div>
                <div class="personal-right fr bb">
                    <ul class="rechange-nav f-cb">
                        <li class="hover"> <a href="javascript:;">客服中心</a></li>
                    </ul>
                    <div class="customer">
                            致电客服：{{list.tel}}
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
      <script>
        new Vue({
          el:'#app',
          props: {
          },
          data:function() {
              return {
                  list:{}
              };
          },
          computed: {
          },
          mounted:function() {
              this.bottomPC()
          },
          methods: {
              bottomPC:function(){
                          var _this = this;
                          axios.post('/index/index/bottomPC')
                          .then(function (res) {
                              if(res.data.status==1){
                                 _this.list = res.data.list ;
                              }
                          })
                          .catch(function (error) {
                              console.log(error);
                          });
                      },
          },
      })
      </script>
    </body>
</html>