<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>策略2.0</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <script src="static/js/jquery-1.11.3.js"></script>

        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/wow.min.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html" data-index="0"></div>
        <div class="content-box" id="app" v-cloak>
            <div class="welcome-banner banner">
                <img src="static/img/wel01.jpg" alt="" class="bg-picture">
                <ul class="f-cb">
                    <li v-for="(item,index ) in banner" :data-img="item.web_bannerurl">
                        <a href="javascript:;">
                            <!-- <div class="w1520 f-cb">
                                <div class="con">
                                    <h2>实盘交易 挂单可查</h2>
                                    <p>强大的交易内核 3秒行情及时刷新</p>
                                    <p>挂单后可通过各大行情软件查询到挂信息确保交易真实性</p>
                                    <span class="more">申请配资</span>
                                </div>
                            </div> -->
                        </a>
                    </li>
                    <!-- <li data-img="static/img/wel01.jpg">
                        <a href="javascript:;">
                            <div class="w1520 f-cb">
                                <div class="con">
                                    <h2>实盘交易 挂单可查</h2>
                                    <p>强大的交易内核 3秒行情及时刷新</p>
                                    <p>挂单后可通过各大行情软件查询到挂信息确保交易真实性</p>
                                    <span class="more">申请配资</span>
                                </div>
                            </div> 
                        </a>
                    </li> -->
                </ul>
                <div class="loader"></div>
                <div class="btns"></div>
            </div>
            <div class="welcome-notice" v-if="!noticeList.length=='0'">
                <div class="w1520 f-cb">
                    <div class="txtScroll-top fl">
                        <div class="bd">
                            <ul>
                                <li v-for="(item,index) in noticeList"><a :href="'newsdetail.html?id='+item.id+'&name=1'">{{item.title}}</a></li>
                             
                            </ul>
                        </div>
                    </div>
                    <a href="indexnew.html" class="ajax_more fl">更多 >></a>
                </div>
            </div>
            <div style="background:#fff">
                <div class="wenens_back">
                    <div class="wow fadeInUp  wenews" 
                    data-wow-duration="1s"     
                    data-wow-offset="180">
                        <h2>ABOUT  US</h2>
                        <p>关于我们</p>
                    </div>
                    <div class="wen_one w1520 fadeInUp wow" 
                    data-wow-duration="1s"     
                    data-wow-offset="180">
                        <p>股票配资系统，国内正规合法的个股期权交易平台，先后获得国家ICP，SP等多项认证，我们拥有最顶尖的技术团队，最完善的售后服务，以及最新最全的国内快讯，我们秉承“稳中求进、紧中求活、提质控险、协同发展”的主基调，让您再交易中感受金钱和知识的递增，愿与您携手共创财富之路。</p>
                        <i>Stock allotment system, domestic formal and legal trading platform for individual stock options, has been certified by the national ICP, SP and other certifications. We have the most top technical team, the most perfect after-sales service, and the latest and most complete domestic news. We uphold the keynote of "steady progress, tight survival, quality control insurance, coordinated development", so that you can feel money and knowledge in trading. Incremental growth, willing to work with you to create wealth.</i>
                        <ul >
                            <li class="fadeInUp wow" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0s" >
                                <a href="stocks.html?id=1">
                                    <img src="static/images/img_1.png" alt="">
                                    <p>最牛金顾</p>
                                </a>
                            </li>
                            <li class="fadeInUp wow" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.1s" >
                                <a href="track.html?id=2">
                                    <img src="static/images/img_2.png" alt="">
                                    <p>关注动态</p>
                                </a>
                            </li>
                            <li class="fadeInUp wow" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.2s" >
                                <a href="download.html">
                                    <img src="static/images/img_3.png" alt="">
                                    <p>客户端下载</p>
                                </a>
                            </li>
                            <li class="fadeInUp wow" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.3s" >
                                <a href="stocks.html?id=2">
                                    <img src="static/images/img_4.png" alt="">
                                    <p>收益排行</p>
                                </a>
                            </li>
                            <li class="fadeInUp wow" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.4s" >
                                <a href="novice.html">
                                    <img src="static/images/img_5.png" alt="">
                                    <p>操作指南</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="background:#f9f9f9;padding-top:165px;">
                <div class="wenews wow fadeInUp " data-wow-duration="1s"  data-wow-offset="180"  
                >
                    <h2>ADVANTAGES</h2>
                    <p>我们的优势</p>
                </div>
                <div class="w1520 wen_two">
                    <ul >
                        <li v-for="(item,index) in index_imgpcs" class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" :data-wow-delay="'0.'+index+'s'">
                            <img :src="item.introduce_img" alt="">
                            <h2>{{item.introduce_title}}</h2>
                            <p>{{item.introduce_wenan}}</p>
                        </li>
                        <!-- <li class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.1s">
                            <img src="static/images/img_7.png" alt="">
                            <h2>超高收益</h2>
                            <p>投资人出资金，<br>
                                按约买卖盈利全归你</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.2s">
                            <img src="static/images/img_8.png" alt="">
                            <h2>灵活方便</h2>
                            <p>无需开户、选好股票<br>
                                想买多少，一键提交</p>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" data-wow-delay="0.3s">
                            <img src="static/images/img_9.png" alt="">
                            <h2>养成纪律</h2>
                            <p>严格按照策略止损止盈进行<br>
                                交易、不再深套、保护利润</p>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="welcome-expert w1520">
                <div class="wow fadeInUp  wenews" 
                data-wow-duration="1s"     
                data-wow-offset="180">
                    <h2>ADVANTAGES</h2>
                    <p>合作伙伴</p>
                </div>
                <ul class="lists f-cb">
                    <li class="wow fadeInUp" v-for="(item,index) in img" :key="index" data-wow-duration="1s"  data-wow-offset="100" :data-wow-delay="index<10?'0.'+index+'s':'1.'+index+'s'">
                        <a href="javascript:;">
                            <img :src="item.spe_img" alt="">
                        </a>
                    </li>
                 
                </ul>
            </div>
            <div class="welcome-news">
                <div  class="wenews wow fadeInUp " data-wow-duration="1s"  data-wow-offset="180">
                    <h2>INFORMATION</h2>
                    <p>新闻资讯</p>
                </div>
                <div class="w1520">
                    <ul class="news-lists f-cb bb">
                        <li v-for="(item,index) in newList" class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" :data-wow-delay="'0.'+index+'s'">
                                <a :href="'newsdetail.html?id='+item.id">
                                    <div class="picture-box">
                                        <img src="static/img/wel35.jpg" alt="" class="bg">
                                        <img :src="item.picurl" alt="" class="pic">
                                    </div>
                                    <div class="con">
                                        <h2>{{item.title}}</h2>
                                        <div class="time">{{item.create_time}}</div>
                                        <div class="fonts">{{item.words}}</div>
                                    </div>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script src="static/js/jquery.SuperSlide.2.1.3.js"></script>
        <script>
            var wow = new WOW({
                offset: 0,
                mobile: true,
                live: true
            });
            wow.init();
            $(function(){
                
                $('.welcome-expert .lists li').each(function(){
                    if ($(this).index() %6 == 5) {
                        $(this).addClass('out');
                    };
                })
                $('.welcome-news .list li').each(function(){
                    if ($(this).index() % 2 == 1) {
                        $(this).addClass('fr');
                    }else{
                        $(this).addClass('fl');
                    }
                })
                newssize()
                $(window).resize(function(event) {
                    newssize()
                });
                function newssize(){
                    if ($(window).width() < 1400) {
                        $('.welcome-news .list').addClass('size');
                    }else{
                        $('.welcome-news .list').removeClass('size');
                    }
                }
            })
        </script>
        <script>
        new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    noticeList:[],
                    banner:{},
                    newList:[],
                    img:[],
                    index_imgpcs:[]
                };
            },
            computed: {
            },
            mounted:function() {
                this.index_imgpc()
                this.notice();
                this.banners();
                this.newsList(1);
                this.partner();
            },
            methods: {
                index_imgpc:function(){
                    var _this = this;
                    axios.defaults.s=false;
                    axios.post('/index/index/index_imgpc')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.index_imgpcs = res.data.list ;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                notice:function(){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/noticeList')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.noticeList = res.data.list ;
                           setTimeout(function(){
                               jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,delayTime:700});
                           },50)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                banners:function(){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/bannerListPC')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.banner = res.data.list ;
                           $(window).ready(function(){
                                setTimeout(function(){
                                    $("body").append('<script src="static/js/banner.js">'+'</'+'script>');
                                },500)
                            })
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                newsList:function(obj){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/newsIndex',{page:obj})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.newList=res.data.list.splice(0,4)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                partner:function(obj){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/partner')
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.img=res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
            },
        })
        </script>
    </body>
</html>