<!DOCTYPE html>

<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta http-equiv="content-language" content="zh-CN" />

        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="keywords" content="" />

        <meta name="description" content="" />


        <meta name="renderer" content="webkit">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        <title>公告</title>

        <link href="favicon.ico" rel="shortcut icon">

        <link rel="stylesheet" href="static/css/reset.css">

        <link rel="stylesheet" href="static/css/animate.css">

        <link rel="stylesheet" href="static/css/style.css">

        <link rel="stylesheet" href="static/css/new.css">

        <script src="static/js/jquery-1.11.3.js"></script>

        <script>

                localStorage.setItem('store',2);

        </script>

        <script src="static/js/browser.min.js"></script>

        <script src="static/js/axios.min.js"></script>

        <script src="static/js/html5.js"></script>

        <script src="static/js/jquery.easing.1.3.js"></script>

        <script src="static/js/jquery.transit.js"></script>

        <script src="static/js/jquery.lazyload.js"></script>

        <script src="static/js/plug.preload.js"></script>

        <!-- <script src="static/js/wow.min.js"></script> -->

        <!-- 引入样式 -->

        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

        <!-- 引入组件库 -->

        <script src="https://unpkg.com/element-ui/lib/index.js"></script>

        <style>

            .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{

            background: #fff

            }

            .el-pagination.is-background .el-pager li:not(.disabled).active{

                background: #e6453d;

                color: #fff; 

            }

        </style>

    </head>

    <body>

        <div class="includeDom header" include="inc/header.html"></div>

        <div class="content-box" id="app" v-cloak>

            <!-- <a href="javascript:;" class="news_header"><img src="static/imgs/newsback.png"></a> -->
            <a href="javascript:;" class="news_header">
                    <img v-for="(item,index) in banner" :src="item.web_bannerurl">
                </a>
            <div style="background:#f9f9f9">

                    <div class="news_content">

                       <div style="text-align:center;font-size:18px;height:200px" v-if="list.length=='0'?true:false">

                            暂无信息......

                        </div> 

                        <div v-if="list.length=='0'?false:true"> 

                            <ul class="w1520">

                                <li v-for="(item,index) in list" :key="index" class="wow fadeInUp" data-wow-duration="1s"  data-wow-offset="100" :data-wow-delay="'0.'+index+'s'">

                                    <a :href="'newsdetail.html?id='+item.id+'&name=1'">

                                        <div class="news_left">

                                            <img :src="item.picurl.substr(0,item.picurl.length-1)" alt="">

                                        </div>

                                        <div class="news_right">

                                            <h2>{{item.title}}</h2>

                                            <p> {{item.words}}</p>

                                        </div>

                                        <div class="news_poa">

                                            <span>{{item.create_time.slice(8)}}</span>

                                            <b>{{item.create_time.substring(0, 7)}}</b>

                                            <i></i>

                                        </div>

                                    </a>

                                </li>

                                

                            </ul>

                         </div> 

                    </div>

                    <div class="pages wow fadeInUp" style="text-align:center" data-wow-duration="1s"  data-wow-offset="100">

                            <el-pagination

                            background

                            :page-size="total.geshu"

                            layout="prev, pager, next"

                            background="#fff"

                            :total="total.allnum"

                            @current-change="handleCurrentChange"

                            >

                            </el-pagination>

                    </div>

            </div>

        </div>

        <div class="includeDom footer" include="inc/footer.html"></div>

        <script src="static/js/main.js"></script>

        <script>

            // var wow = new WOW({

            //     offset: 0,

            //     mobile: true,

            //     live: true

            // });

            // wow.init();

            $(function(){

                newssize()

                $(window).resize(function(event) {

                    newssize()

                });



                function newssize(){

                    if ($(window).width() < 1580) {

                        $('.news_content .list').addClass('size');

                    }else{

                        $('.news_content .list').removeClass('size');

                    }

                }



            })

        

        </script>

        <script>

        new Vue({

            el:'#app',

            props: {

            },

            data:function() {

                return {
                    banner:[],

                    total:{
                        geshu:0,
                        allnum:0
                    },

                    list:[]

                };

            },

            computed: {

            },

            mounted:function() {
                this.banners()
                this.newsList(1)

            },

            methods: {
                banners:function(){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/news_bannerListPC')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.banner = res.data.list ;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                newsList:function(obj){

                    var _this = this;
					axios.defaults.s=false;
                    axios.get('/index/index/allnoticeList',{params:{page:obj}})

                    .then(function (res) {

                        if(res.data.status==1){

                            _this.list=res.data.list.list

                           
                           _this.total.geshu=res.data.list.geshu

                            _this.total.allnum=res.data.list.allnum

                        }

                    })

                    .catch(function (error) {

                        console.log(error);

                    });

                },

                handleCurrentChange:function(val) {

                    this.newsList(val)

                }

            },

        })

        </script>

    </body>

</html>