<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>新闻详情</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/new.css">
        <script src="static/js/jquery-1.11.3.js"></script>

        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html" data-index="1"></div>
        <div class="content-box" id="app" v-cloak>
            <a href="javascript:;" class="news_header"><img src="static/imgs/newsback.png"></a>
            <div class="detail-content">
                <div class="detail-news">
                    <h2>{{list.title}}</h2>
                    <h4>{{list.create_time}}</h4>
                    <div v-html="list.content">

                    </div>
                </div>
                <div class="detail-footer f-cb">
                    <div class="onsdd">
                        <div v-if="name==1">
                            <a :href="up.id==0?'javascript:;':'newsdetail.html?id='+up.id+'&name=1'">上一篇：{{up.title}}</a><br/>
                            <a :href="down.id==0?'javascript:;':'newsdetail.html?id='+down.id+'&name=1'">下一篇：{{down.title}}</a>
                        </div>
                        <div v-else>
                            <a :href="up.id==0?'javascript:;':'newsdetail.html?id='+up.id">上一篇：{{up.title}}</a><br/>
                            <a :href="down.id==0?'javascript:;':'newsdetail.html?id='+down.id">下一篇：{{down.title}}</a>
                        </div>
                    </div>
                    <a href="news.html"><p>返回列表</p></a>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
            var id = getSearchString("id");
            var name = getSearchString("name");
           
            if(name=="1"){
                $(".detail-content .detail-footer p").parent("a").attr("href","indexnew.html")
            }
        var rm=new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    list:{},
                    down:{},
                    up:{},
                    name:''
                };
            },
            computed: {
            },
            mounted:function() {
                this.info();
            },
            methods: {
                info:function(){
                    var _this = this;
                  	axios.defaults.s=false;
                    axios.post('/index/index/newsdetailPC/id/'+id)
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.list = res.data.list.list;
                           _this.up = res.data.list.up 
                           _this.down = res.data.list.down 
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
        })
        rm.name=name
        </script>
    </body>
</html>