<!DOCTYPE html>

<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta http-equiv="content-language" content="zh-CN" />

        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="keywords" content="" />

        <meta name="description" content="" />


        <meta name="renderer" content="webkit">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        <title>操作指南</title>

        <link href="favicon.ico" rel="shortcut icon">

        <link rel="stylesheet" href="static/css/reset.css">

        <link rel="stylesheet" href="static/css/animate.css">

        <link rel="stylesheet" href="static/css/style.css">

        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">

        <script src="static/js/jquery-1.11.3.js"></script>
      
        <script src="static/js/browser.min.js"></script>

        <script src="static/js/axios.min.js"></script>

        

        <script src="static/js/html5.js"></script>

        <script src="static/js/jquery.easing.1.3.js"></script>

        <script src="static/js/jquery.transit.js"></script>

        <script src="static/js/jquery.lazyload.js"></script>

        <script src="static/js/plug.preload.js"></script>

    </head>

    <body>

        <div class="includeDom header" include="inc/header.html" data-index="4"></div>

        <div class="content-box" id="app" v-cloak>

            <!-- <a href="javascript:;" class="news_header"><img src="static/images/img_1.jpg"></a> -->
            <a href="javascript:;" class="news_header">
                <img v-for="(item,index) in banner" :src="item.web_bannerurl">
            </a>
            <div class="w1520" style="text-align:center">

                <img src="static/images/img_18.png" alt="" width="100%" style="max-width:1320px;margin:40px 0">

            </div>

        </div>

        <div class="includeDom footer" include="inc/footer.html"></div>

        <script src="static/js/main.js"></script>

    </body>
    <script>
    new Vue({
        el:'#app',
        props: {
        },
        data:function() {
            return {
                banner:[],
            };
        },
        computed: {
        },
        mounted:function() {
            this.banners()

        },
        methods: {
            banners:function(){
                    var _this = this;
              		axios.defaults.s=false;
                    axios.post('/index/index/zhinan_bannerListPC')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.banner = res.data.list ;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
        },
    })
    </script>

</html>