<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>策略交易流水</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/personal.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <style>
            .el-pagination.is-background .el-pager li:not(.disabled).active{
                background: #e6453d;
                color: #fff; 
            }
        </style>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9">
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="3"></div>
                <div class="personal-right fr bb">
                    <div class="includeDom" include="inc/personalCapital_nav.html" data-index="1"></div>
                    <div id="app" v-cloak>
                        <div class="cato_table flow">
                            <div class="f-cb">
                                <p>交易时间</p>
                                <p>订单号</p>
                                <p>交易金额</p>
                                <p>股票信息</p>
                            </div>
                            <div class="cato_tbody">
                                <div v-for="(item,index) in list" :key="index">
                                    <p>{{item.create_time}}</p>
                                    <p>{{item.charge_num}}</p>
                                    <p>{{item.trade_price}}</p>
                                    <p>{{item.stock_name}}({{item.stock_code}})</p>
                                </div>

                            </div>
                        </div>
                        <div style="text-align:center;padding:20px 0;">
                                <el-pagination
                                    background
                                    :page-size="5"
                                    layout="prev, pager, next"
                                    background="#fff"
                                    :total="total"
                                    @current-change="handleCurrentChange"
                                    >
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
                new Vue({
                    el:'#app',
                    props: {
                    },
                    data:function() {
                        return {
                            total:null,
                            list:[],
                            pageSize:0
                        };
                    },
                    computed: {
                    },
                    mounted:function() {
                        this.strategyrecordPC(1)
                    },
                    methods: {
                        strategyrecordPC:function(obj){
                            var _this =this;
                            axios.get('/index/index/strategyrecordPC',{params:Object.assign(login,{page:obj})})
                            .then(function (res) {
                                if(res.data.status==1){
                                    _this.list= res.data.list.list;
                                    _this.total = res.data.list.allnum;
                                    _this.pageSize = res.data.list.geshu
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        },
                        handleCurrentChange:function(val){
                            this.strategyrecordPC(val)
                        }
                    },
                })
                </script>
    </body>
</html>