<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>实名认证</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/personal.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
        <style>
        .yrz{
            font-size: 16px;
            text-align: center;
            padding-top: 50px;
        } 
        #formdata,.submit_verified{display: none;}</style>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9" id="app" v-cloak>
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="1"></div>
                <div class="personal-right fr">
                    <ul class="rechange-nav f-cb">
                        <li class="hover"><a href="javaScript:;">实名认证</a></li>
                    </ul>
                    <div>
                        <div v-if="is_true==3"  class="yrz">待审核</div>
                        <div v-else-if="is_true==1" class="yrz">已认证</div>
                        <div v-else>
                            <form id="formdata">
                                <div class="f-cb">
                                    <label class="fl"><span>名字 ：</span> <input type="text" name="true_name" v-model="form.true_name" placeholder="请输名字"></label>
                                    <label class="fr"><span>身份证号码 ：</span> <input type="text" name="card_id" v-model="form.card_id" placeholder="请输身份证号码"></label>
                                </div>
                                <div class="f-cb">
                                    <label class="fl">
                                        <p>身份证正面</p>
                                        <div class="por">
                                            <img src="" alt="">
                                            <input type="file" accept="image/*" name="frontcard" @change="file($event)">
                                        </div>
                                    </label>
                                    <label class="fr">
                                        <p>身份证背面</p>
                                        <div class="por">
                                            <img src="" alt="">
                                            <input type="file" accept="image/*" name="backcard" @change="file($event)">
                                        </div>
                                    </label>
                                </div>
                            </form>
                            <input type="submit" class="submit_verified" value="提交" @click="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
        $(function(){
            // $("#formdata label .por input").change(function(){
            //     var file = event.target.files[0];
            //     var URL = window.URL || window.webkitURL;
            //     var imgURL = URL.createObjectURL(file);
            //     $(this).siblings('img').attr("src",imgURL)
            // })
            
        })
        </script>
        <script>
        var vm=new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    list:[],
                    is_true:'',
                    form:{
                        true_name:"",
                        card_id:""
                    }

                };
            },
            computed: {
            },
            mounted:function() {
                this.mydetail()
            },
            methods: {
                file:function(e){
                    var file = e.target.files[0];
                    var URL = window.URL || window.webkitURL;
                    var imgURL = URL.createObjectURL(file); 
                    console.log(imgURL)
                    $(e.target).siblings('img').attr("src",imgURL)
                },
                submit:function(){
                    var _this = this;
                    if(_this.form.true_name==""||_this.form.card_id==''){
                        alert("请填写基本信息！")
                       return false; 
                    }
                    var form  = new FormData(document.getElementById("formdata"));
                     form.append("account",login.account)
                     form.append("token",login.token);
                     axios.post('/index/index/authenticationPC',form)
                     .then(function (res) {
                        if(res.data.status==1){
                            location.reload() ;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                },
                mydetail:function(){
                    var _this = this;
                    axios.get('/index/index/mydetail',{params:login})
                        .then(function (res) {
                            if(res.data.status==1){
                                _this.is_true = res.data.list.is_true
                                if(_this.is_true==0 || _this.is_true==2){
                                    $("#formdata").css("display","block")
                                    $(".submit_verified").css("display","block")
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
        })
        </script>
    </body>
</html>