<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>充值</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/personal.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9">
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="3"></div>
                <div class="personal-right fr bb">
                    <div class="includeDom" include="inc/personalCapital_nav.html" data-index="2"></div>
                    <div id="app" v-cloak>
                        <div class="recharge hides" v-if="no_agree==0">
                            <ul>
                                <li>
                                    <p>您尚未添加银行卡</p>  
                                </li>
                                <li>
                                    <p>添加银行卡 <span>（添加银行的开户名必须与身份认证的明细一致，否则将导致提现不成功）</span></p>  
                                </li>
                                <!-- <li>
                                    <p>开户名 <i>某某</i></p>  
                                </li>
                                <li>
                                    <p>身份证号 <input type="text" placeholder="请输入身份证号" ></p>  
                                </li> -->
                                <li>
                                    <p>银行卡号 <input type="text" placeholder="请输入银行卡号" v-model="bank_card"></p>  
                                </li>
                                <li>
                                    <p>验证码&nbsp;&nbsp;&nbsp;
                                        <input type="tel" placeholder="请输入验证码" v-model="message">
                                        <input type="button" value="获取验证码" @click="messageCode">
                                    </p>  
                                </li>
                                <li>
                                    <input type="submit" value="提交" @click="submitCard($event)">
                                </li>
                            </ul>
                        </div>
                        <div class="persona_recharge recharge" v-else>
                            <ul>
                                <li>
                                    <p>银行卡号 <input type="text" value="" v-model="bank_num" placeholder="请输入银行卡号" disabled></p>  
                                </li>
                                <li>
                                    <p>充值金额 <input type="text" placeholder="请输入充值金额" v-model="money"></p>  
                                </li>
                                <li>
                                    <input type="submit" value="提交" @click="submitMoney($event)">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <!-- <script>
            $(function(){
               $(".recharge li input[type=button]").click(function(){
                var _this = $(this);
                    $(this).attr("disabled","disabled");
                    $(this).addClass("on")
                    var time = 60;
                    var set=setInterval(function(){
                        _this.val(""+--time+"秒后重新获取");
                    }, 1000);
                    setTimeout(function(){
                        _this.removeClass("on")
                        _this.attr("disabled",false).val("获取验证码");
                        clearInterval(set);
                    }, 60000);
               })
               $(".hides li input[type=submit]").click(function(){
                   $(this).parents(".recharge").fadeOut(0).siblings(".persona_recharge").fadeIn(0)
               })
            })
        </script> -->
        <script>
        new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    no_agree:'',
                    bank_card:"",
                    message:"",
                    bank_num:"",
                    money:""
                };
            },
            computed: {
            },
            mounted:function() {
                this.bindbank()
            },
            methods: {
                bindbank:function(){
                    var _this =this;
                    axios.post('/index/pay/bindingbank',login)
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.no_agree = res.data.list.no_agree
                            _this.bank_num = res.data.list.bank_num;
                            $(".recharge").css("display","block")
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                messageCode:function(){
                    if(this.bank_card == ''){
                        alert("填写银行卡号！");
                        return false;
                    }
                    var _this = this;
                    axios.get('/index/pay/PCsendmes',{params:Object.assign(login,{bank_card:_this.bank_card})})
                    .then(function (res) {
                        if(res.data.status==1){
                            var code = $(".recharge li input[type=button]");
                            code.attr("disabled","disabled");
                            var time = 60;
                            var set=setInterval(function(){
                                code.val(""+--time+"秒后重新获取");
                            }, 1000);
                            setTimeout(function(){
                                code.attr("disabled",false).val("获取验证码");
                                clearInterval(set);
                            }, 60000);
                        }else{
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                submitCard:function(e){
                    var _this = this;
                    var el = $(e.target);
                    el.attr("disabled","disabled");
                    axios.get('/index/pay/PCcheckBankCard',{params:Object.assign(login,{bank_card:_this.bank_card,message:_this.message})})
                    .then(function (res) {
                        el.attr("disabled",false);
                        alert(res.data.msg)
                        if(res.data.status==1){
                            _this.bindbank()
                        }else{
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                submitMoney:function(e){
                    if(this.money==""){
                        alert("填写正确的金额！")
                        return false;
                    }
                    var _this = this;
                    var el = $(e.target);
                    el.attr("disabled","disabled");
                    // return false;
                    axios.get('/index/pay/PCchargeMoney',{params:Object.assign(login,{money:_this.money})})
                    .then(function (res) {
                        el.attr("disabled",false);
                        alert(res.data.msg)
                        if(res.data.status==1){
                            _this.money=""
                        }else{
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
        })
        </script>
    </body>
</html>