<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>提现</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/personal.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9">
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="3"></div>
                <div class="personal-right fr bb">
                    <div class="includeDom" include="inc/personalCapital_nav.html" data-index="2"></div>
                    <div class="persona_recharge recharge" style="display:block" id="app" v-cloak>
                        <ul>
                            <li>
                                <p>账户余额： <span>{{balance}}</span>元</p>  
                            </li>
                            <li>
                                <p>提现金额： <input type="text" placeholder="请输入提现金额" v-model="list.money"><b>元</b></p>  
                            </li>
                            <!-- <li>
                                <p>提现至卡： <input type="text" value="11111" placeholder="请输入银行卡号" disabled></p>  
                            </li> -->
                            <li>
                                <p>交易密码： <input type="password" placeholder="请输入交易密码" v-model="list.trade_pwd"><a href="certification.html">设置密码？</a></p>  
                            </li>
                            <li>
                                <input type="submit" value="提交" @click="submit($event)">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
        new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    balance:"",
                    list:{
                        money:"",
                        trade_pwd:""
                    }
                };
            },
            computed: {
            },
            mounted:function() {
                this.isExtract();
                this.mydetail()
            },
            methods: {
                isExtract:function(){
                    var _this =this;
                    axios.get('/index/pay/isExtractMoney',{params:login})
                    .then(function (res) {
                        el.attr("disabled",false);
                        alert(res.data.msg)
                        if(res.data.status==1){
                            _this.bindbank()
                        }else{
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                mydetail:function(){
                    var _this =this;
                    axios.get('/index/index/mydetail',{params:login})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.balance= res.data.list.balance
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                submit(e){
                    var el = $(e.target);
                    el.attr("disabled","disabled");
                    var _this = this;
                    axios.get('/index/pay/extractMoney',{params:Object.assign(login,_this.list)})
                    .then(function (res) {
                        el.attr("disabled",false);
                        alert(res.data.msg)
                        if(res.data.status==1){
                            // _this.bindbank()
                            _this.isExtract()
                        }else{
                            // alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
        })
        </script>
     
    </body>
</html>