<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>个人中心</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/iconfont/css/font-awesome.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/js/jquery.lazyload.js"></script>
        <script src="static/js/plug.preload.js"></script>
        <script src="static/layer/layer.js"></script>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html"></div>
        <div class="content-box bgf9f9f9" id="app" v-cloak>
            <div class="personal-box f-cb w1520">
                <div class="includeDom" include="inc/personal_nav.html" data-number="0"></div>
                <div class="personal-right fr">
                    <h2 class="personal_title">账户余额 <span> {{list.balance}}</span> 元  
                      <div class="tac personal_tac on" style="display: inline-block;">
                        <a href="personal_withdraw.html">提现</a>
                        <!--<a href="personal_recharge.html">充值</a>-->
                         <a href="personal_alipay.html">充值</a>
                    </div>
                  </h2>
                  	
                    <ul class="personal-intro f-cb">
                        <li>
                            <p><span class="ico1">账户总资产</span></p>
                            <h2>{{Number(list.tactics_balance)+Number(list.frozen_money)+Number(list.balance)}}<span class="yuan"> 元</span></h2>
                        </li>
                        <li>
                            <p><span class="ico1">策略余额</span></p>
                            <h2>{{list.tactics_balance}}<span class="yuan"> 元</span></h2>
                        </li>
                        <!-- <li>
                            <p><span class="ico1">风险保证金</span></p>
                            <h2>{{list.}}<span class="yuan"> 元</span></h2>
                        </li> -->
                        <li>
                            <p>冻结金额</p>
                            <h2>{{list.frozen_money}}<span class="yuan"> 元</span></h2>
                        </li>
                        <li>
                            <p>账户余额</p>
                            <h2>{{list.balance}}<span class="yuan"> 元</span></h2>
                        </li>
                    </ul>
                    <div class="tac personal_tac in">
                        <a href="javascript:;" @click="add">转入</a>
                        <!--<a href="personal_recharge.html">充值</a>-->
                         <a href="javascript:;" @click="less">转出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
            var vm=new Vue({
                el:'#app',
                data:function() {
                    return {
                        list:{}
                    };
                },
                computed: {
                },
                mounted:function() {
                    this.mydetail()
                },
                methods: {
                    mydetail:function(){
                        var _this =this;
                        axios.get('/index/index/mydetail',{params:login})
                        .then(function (res) {
                            if(res.data.status==1){
                                _this.list= res.data.list
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                  add:function(){
                  		var _this =this;
                          layer.prompt({
                            formType: 0,
                            value: '',
                            title: '请输入转入金额',
                            area: ['400px', '100px'] //自定义文本域宽高
                            }, function(value, index, elem){
                                axios.get('/index/index/transferin', {params: Object.assign({},login,{money:value})} )
                                .then(function (res) {
                                    alert(res.data.msg)
                                    if(res.data.status==1){
                                        _this.mydetail()
                                    }
                                    layer.close(index);
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                            });
                            return false;
                  },
                  less:function(){
                  var _this =this;
                          layer.prompt({
                            formType: 0,
                            value: '',
                            title: '请输入转出金额',
                            area: ['400px', '100px'] //自定义文本域宽高
                            }, function(value, index, elem){
                                axios.get('/index/index/transferout', {params: Object.assign({},login,{money:value})} )
                                .then(function (res) {
                                    alert(res.data.msg)
                                    if(res.data.status==1){
                                        _this.mydetail()
                                    }
                                    layer.close(index);
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                            });
                            return false;
                  
                  }
            }
            
        })
        </script>
    </body>
</html>