<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>战绩</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/stocks.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <style>[v-cloak] {
                display: none;
              }</style>
        <!-- <script src="static/js/html5.js"></script> -->
        <!-- <script src="static/js/jquery.easing.1.3.js"></script> -->
        <!-- <script src="static/js/jquery.transit.js"></script> -->
        <!-- <script src="static/js/jquery.lazyload.js"></script> -->
        <!-- <script src="static/js/plug.preload.js"></script> -->
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html" data-index="3"></div>
        <div id="app" v-cloak>
            <div style="background:#f9f9f9" class="content-box">
                <div class="w1520">
                    <div class="nav_title">
                        您的位置 > <a href="track.html">高手跟踪</a> > <a href="javascript:;">战绩</a>
                    </div>
                    <div class="stock_info_top f-cb">
                        <img src="static/images/img_17.png" alt="">
                        <div class="fl">
                            <h2>{{list.nick_name}}</h2>
                            <!-- <p>我的排名：20</p> -->
                            <p>总人气：{{list.subscribe_sum}}</p>
                            <!-- <p>最近发布时间：一天前</p> -->
                        </div>
                        
                        <ul class="fr">
                            <li>
                                <p :class="(list.all).substr(0,(list.all.length)-1)<0?'green':'red'" v-cloak>{{list.all}}</p>
                                <h2>总收益</h2>
                            </li>
                            <li>
                                <p :class="(list.month).substr(0,(list.month.length)-1)<0?'green':'red'" v-cloak>{{list.month}}</p>
                                <h2>月收益</h2>
                            </li>
                            <li>
                                <p :class="(list.week).substr(0,(list.week.length)-1)<0?'green':'red'" v-cloak>{{list.week}}</p>
                                <h2>周收益</h2>
                            </li>
                            <li>
                                <h3 @click="create">{{list.is_subscribe==1?"已关注":"关注"}}</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="title on">模拟持仓</div>
                    <div class="table">
                        <div class="table-thead">
                            <p>股票</p>
                            <p>买入股数</p>
                            <p>买入价(元)</p>
                            <p>现价(元)</p>
                            <p>浮动盈亏比</p>
                            <p>买入时间</p>
                            <p>持仓（天）</p>
                        </div>
                        <div class="table-tbody">
                            <div v-for="(item,index) in list.buy_record">
                                <p>{{item.stock_name}}({{item.stock_code}})</p>
                                <p>{{item.stock_number}}</p>
                                <p>{{item.buy_price}}</p>
                                <p>{{item.nowprice}}</p>
                                <p  :class="(parseFloat(item.nowprice) - parseFloat(item.buy_price)) / parseFloat(item.nowprice) <0?'green':'red'">{{((item.nowprice - item.buy_price)/item.nowprice*100).toFixed(2)}}%</p>
                                <p>{{item.buy_time}}</p>
                                <p>{{item.defer_day}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background:#fff">
                <div v-if="list.record.length==0" class="jiazai">正在加载中</div>
                <div class="w1520" v-else style="padding-bottom:30px">
                    <div class="title on">模拟记录</div>
                    <div class="table">
                        <div class="table-thead">
                            <p>股票</p>
                            <p>买入价(元)</p>
                            <p>卖出价(元)</p>
                            <p>浮动盈亏比</p>
                            <p>买入时间</p>
                            <p>卖出时间</p>
                            <p>持仓（天）</p>
                        </div>
                        <div class="table-tbody">
                                <div v-for="(item,index) in list.record">
                                    <p>{{item.stock_name}}({{item.stock_code}})</p>
                                    <p>{{item.buy_price}}</p>
                                    <p>{{item.sell_price}}</p>
                                    <p :class="item.truegetprice / item.credit<0?'green':'red'">{{(item.truegetprice / item.credit*100).toFixed(2)}}%</p>
                                    <!-- <p>{{parseFloat(item.nowprice) - parseFloat(item.buy_price)}}</p> -->
                                    <!-- <p  :class="(parseFloat(item.nowprice) - parseFloat(item.buy_price)) / parseFloat(item.nowprice) <0?'green':'red'">{{((item.nowprice - item.buy_price)/item.nowprice*100).toFixed(2)}}%</p> -->
                                    <p>{{item.buy_time}}</p>
                                    <p>{{item.sell_time}}</p>
                                    <p>{{item.defer_day}}</p>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
            var search = search()
            console.log(search)
        var vm=new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    list:{
                        all:"",
                        week:"",
                        month:"",
                        buy_record:[],
                        record:[]
                    }
                };
            },
            computed: {
            },
            mounted:function() {
                this.subscribeInfo()
            },
            methods: {
                subscribeInfo:function(){
                    var _this = this;
                    axios.get('/index/index/subscribeInfo',{params:Object.assign(login,search)})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.list = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                create:function(){
                    var _this = this;
                    if(_this.list.is_subscribe==1){
                        _this.list.is_subscribe=2
                    }else{
                        _this.list.is_subscribe=1
                    }
                    axios.get('/index/index/createSubscribe',{params:Object.assign(login,search,{is_subscribe:_this.list.is_subscribe})})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.subscribeInfo()
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },
        })
        </script>
    </body>
</html>