<!DOCTYPE html>

<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta http-equiv="content-language" content="zh-CN" />

        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="keywords" content="" />

        <meta name="description" content="" />


        <meta name="renderer" content="webkit">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        <title>炒股大赛</title>

        <link href="favicon.ico" rel="shortcut icon">

        <link rel="stylesheet" href="static/css/reset.css">

        <link rel="stylesheet" href="static/css/style.css">

        <link rel="stylesheet" href="static/css/style.css">

        <link rel="stylesheet" href="static/css/stocks.css">

        <link rel="stylesheet" href="static/css/animate.css">

        <script src="static/js/jquery-1.11.3.js"></script>

        <script src="static/js/browser.min.js"></script>

        <script src="static/js/axios.min.js"></script>

        <!-- <script src="static/js/html5.js"></script> -->

        <!-- <script src="static/js/jquery.easing.1.3.js"></script> -->

        <!-- <script src="static/js/jquery.transit.js"></script> -->

        <!-- <script src="static/js/jquery.lazyload.js"></script> -->

        <!-- <script src="static/js/plug.preload.js"></script> -->

        <script src="static/js/wow.min.js"></script>

    </head>

    <body>

        <div class="includeDom header" include="inc/header.html" data-index="2"></div>

        <div class="content-box" id="app" v-cloak>

            <!-- <a href="javascript:;" class="news_header"><img src="static/img/wel01.jpg"></a> -->
            <a href="javascript:;" class="news_header">
                    <img v-for="(item,index) in banner" :src="item.web_bannerurl">
                </a>
            <div style="background:#f9f9f9">

                <div class="w1520 wow fadeInUp" style="margin-top:-80px"  data-wow-duration="1s"  data-wow-offset="100">

                    <div class="stock_top">

                        <div class="stock_top_left">

                            <h2>我的比赛</h2>

                            <div>

                                <img :src="list.pchead" alt="">

                                <div>

                                    <h3>130****0128</h3>

                                    <p>我的排名：<span>暂无排名</span></p>

                                </div>

                            </div>

                            <a href="track.html">我的订阅</a>

                        </div>

                        <div class="stock_top_right">

                            <h2>比赛规则</h2>

                            <p>1.交易前请仔细阅读相关服务协议的具体规则；全部行情与沪深交易所实盘数据一致，交易品种支持沪深上市的A股不支持 基金、权证、ST、新股申购、及不设涨跌停限制的股票（如增发）。</p>

                            <p>2.交易制度：实行T+1，即当天买入的股票不能在当天卖出。</p>

                            <p>3.交易时间：9:30-11:30；13:00-15:00。

                                </p>

                            <p>4.策略系统是一套交易撮合系统。发送买入策略后，60秒时间内承接，成交价格为实际成交价格。</p>

                            <p>5.员工及家属参赛不计入比赛排名。</p>

                        </div>

                    </div>

                </div>

                <div class="title w1520 wow fadeInUp"  id="offset_1"  data-wow-duration="1s"  data-wow-offset="100">最牛金顾</div>

                <div>

                    <div v-if="list.length==0" class="zanwu">暂无</div>

                    <div v-else>

                        <ul class="w1520 stock_guwen f-cb">

                            <li class="wow fadeInUp" v-for="(item,index) in month"  data-wow-duration="1s"  data-wow-offset="100" :data-wow-delay="'0.'+item.index+'s'">

                                <div>

                                    <img :src="item.headurl" alt="">

                                    <div>

                                        <h2>{{item.username}}</h2>

                                        <!-- <p>最近发布时间：10:36:49</p> -->

                                    </div>

                                </div>

                                <h3>

                                    <p><span class="red">{{item.profit}}</span> 30天收益率</p>

                                    <p><span>{{item.win}}</span>30天胜率</p>

                                </h3>

                                <!-- <p>

                                    <span>10</span>人气

                                    <i></i>

                                </p> -->

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

            <div class="title w1520 wow fadeInUp"  data-wow-duration="1s"  data-wow-offset="100" id="offset_2">收益排行</div>

            <div class="w1520 wow fadeInUp"  data-wow-duration="1s"  data-wow-offset="100">

                <ul class="stock_list">

                    <li v-for="(item,index) in alls" :key="index"  :class="index==active?'on':''" @click="changes(item)">{{item.name}}</li>

                </ul>

                <div class="thead on">

                    <p>排序</p>

                    <p>头像</p>

                    <p>昵称</p>

                    <p>胜率</p>

                    <p>总收益率</p>

                    <!-- <p>交易次数</p> -->

                    <p>查看持仓</p>

                </div>

                <div>

                    <div v-if="activelist.length==0" class="zanwu">暂无</div>

                    <div v-else>

                        <div class="stock_peihang on">

                            <div v-for="(item,index) in activelist" :key="index">

                                <p class="on"></p>

                                <p>
                                  <span>
                                    <img :src="item.headurl" alt="">
                                  </span>

                                </p>

                                <p>{{item.username}}</p>

                                <p>{{item.win}}</p>

                                <p>{{item.profit}}</p>

                                <!-- <p>19次</p> -->

                                <p><a :href="'stock_info.html?trues='+item.trues+'&subscribe_account='+item.subscribe_account+'&subscribe_nick_name='+item.username">查看</a></p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="includeDom footer" include="inc/footer.html"></div>

        <script src="static/js/main.js"></script>

        <script>

        var wow = new WOW({

            offset: 0,

            mobile: true,

            live: true

        });

        wow.init();

        $(function(){

            $(".stock_list li").click(function(){

                if($(this).hasClass("on")){

                    return false;

                }else{

                $(this).addClass("on").siblings("li").removeClass("on")

                }

            })

        })

        </script>

        <script>

        new Vue({

            el:'#app',

            props: {

            },

            data:function() {

                return {
                    banner:[],
                    list:[],

                    alls:[

                        {

                            name:"总收益排行榜",

                            list:[]

                        },

                        {

                            name:"日收益排行榜",

                            list:[]

                        },

                        {

                            name:"周收益排行榜",

                            list:[]

                        },

                        {

                            name:"月收益排行榜",

                            list:[]

                        }

                    ],

                    active:0,

                    activelist:[],

                    month:[]

                };

            },

            computed: {

            },

            mounted:function() {
                this.banners()
                this.rankingList()

            },

            methods: {
                banners:function(){
                    var _this = this;
                    axios.post('/index/index/sai_bannerListPC')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.banner = res.data.list ;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                rankingList:function(){

                    var _this = this;

                    if(login==undefined){

                        window.location.href='login.html?type=0'

                    }

                    var obj  =  {account:login.account,token:login.token,pchead:1}

                    axios.get('/index/index/rankingList',{params:obj})

                    .then(function (res) {

                        $(".stock_top_left div:nth-last-child(1) h3").text(login.account)

                        if(res.data.status==1){

                            _this.list = res.data.list;

                            _this.activelist = res.data.list.all;

                            _this.month =res.data.list.month.splice(0,8)

                            _this.alls[0].list = res.data.list.all

                            _this.alls[1].list = res.data.list.day

                            _this.alls[2].list = res.data.list.week

                            _this.alls[3].list = res.data.list.month

                        }

                    })

                    .catch(function (error) {

                        console.log(error);

                    });

                },

                changes:function(item){

                    this.activelist = item.list

                }

            },

        })

        </script>



    </body>

</html>