<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>高手跟踪</title>
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/track.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/axios.min.js"></script>
        <!-- <script src="static/js/html5.js"></script> -->
        <!-- <script src="static/js/jquery.easing.1.3.js"></script> -->
        <!-- <script src="static/js/jquery.transit.js"></script> -->
        <script src="static/js/jquery.lazyload.js"></script>
        <!-- <script src="static/js/plug.preload.js"></script> -->
          <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <style>
            .el-pagination.is-background .el-pager li:not(.disabled).active{
                background: #e6453d;
                color: #fff; 
            }
        </style>
    </head>
    <body>
        <div class="includeDom header" include="inc/header.html" data-index="3"></div>
        <div id="app" v-cloak>
            <div style="background:#f9f9f9" class="content-box">
                <div class="w1520">
                    <div class="nav_title in">
                        您的位置 > <a href="track.html">高手跟踪</a>
                    </div>
                    <div class="title in">订阅的人</div>
                    <div>
                        <div v-if="list.length==0">暂无</div>
                        <ul class="f-cb track_top" v-else>
                            <li v-for="(item,index) in list" :key="index">
                                <a :href="'stock_info.html?trues='+item.trues+'&subscribe_account='+item.subscribe_account+'&subscribe_nick_name='+item.subscribe_nick_name">
                                    <img :src="item.headurl" alt="">
                                    <div>
                                        <h2>{{item.subscribe_nick_name}}</h2>
                                        <p>Ta的战绩</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="background:#fff" id="offset_2">
                <div class="w1520">
                    <div class="title on">关注动态</div>
                    <div class="table">
                        <div class="table-thead">
                            <p>昵称</p>
                            <p>股票</p>
                            <p>买入价(元)</p>
                            <p>卖出价(元)</p>
                            <p>浮动盈亏比</p>
                            <p>买入时间</p>
                            <p>持仓（天）</p>
                        </div>
                        <div class="table-tbody">
                            <div v-for="(item,index) in mylist" :key="index">
                                <p>{{item.account}}</p>
                                <p>{{item.stock_name}}({{item.stock_code}})</p>
                                <p>{{item.buy_price}}</p>
                                <p>{{item.sell_price}}</p>
                                <p  :class="parseFloat(item.profit)>0?'red':'green'"> {{ (item.profit)}}</p>
                              
                                <p>{{item.buy_time}}</p>
                                <p>{{item.day}}</p>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center;padding:20px">
                            <el-pagination
                            background
                            :page-size="total.pageSize"
                            layout="prev, pager, next"
                            background="#fff"
                            :total="total.all"
                            @current-change="handleCurrentChange"
                            >
                            </el-pagination>
                    </div>
                </div>
            </div>
            <div style="background:#f9f9f9; position: relative;overflow: hidden;">
                <div class="w1520">
                    <div class="title on">高手推荐</div>
                    <div>
                        <div v-if="tank.length==0">暂无</div>
                        <ul class="f-cb track_top track_bottom" v-else>
                            <li v-for="(item,index) in tank" :key="index">
                                <a :href="'stock_info.html?trues='+item.trues+'&subscribe_account='+item.subscribe_account+'&subscribe_nick_name='+item.username">
                                    <div class="first">
                                        <img :src="item.headurl" alt="">
                                        <div>
                                            <h2>{{item.username}}</h2>
                                            <p>Ta的战绩</p>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>{{item.profit}}<span>30天收益率</span></h3>
                                        <h3>{{item.win}}<span>30天胜率</span></h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="includeDom footer" include="inc/footer.html"></div>
        <script src="static/js/main.js"></script>
        <script>
        new Vue({
            el:'#app',
            props: {
            },
            data:function() {
                return {
                    list:[],
                    tank:[],
                    mylist:[],
                    total:{
                        all:null,
                        pageSize:0
                    }
                };
            },
            computed: {
            },
            mounted:function() {
                this.mysubcribe();
                this.rankingList();
                this.myfollowlist(1)
            },
            methods: {
                mysubcribe:function(){
                    var _this = this;
                    axios.get('/index/index/mysubscribe',{params:login})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.list = res.data.list
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                rankingList:function(){
                    var _this = this;
                    axios.get('/index/index/rankingList',{params:login})
                    .then(function (res) {
                        if(res.data.status==1){
                            _this.tank = res.data.list.month.splice(0,8)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                myfollowlist:function(obj){
                    var _this = this;
                    axios.get('/index/index/myfollowlist',{params:Object.assign(login,{page:obj})})
                    .then(function (res) {
                        console.log(res.data)
                        if(res.data.status==1){
                            _this.mylist = res.data.list.list;
                            _this.total.pageSize = res.data.list.geshu
                            _this.total.all = res.data.list.allnum
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                handleCurrentChange:function(val){
                    this.myfollowlist(val)
                }
            },
        })
        </script>
    </body>
</html>