.w1520{
    max-width:1520px;
    width:92%;
    margin:0 auto;
}
.header{
    position:relative;
    z-index:3;
}
.footer,.content-box{
    position: relative;
    z-index:1;
}
.content-box{
    padding-top: 100px;
}
.bgf9f9f9{
    background:#f9f9f9;
}
/****底部*****/
#footer{
    width:100%;
    background: #333;
    padding:37px 0 0;
}
#footer .footer-top{
    padding-bottom: 34px;
}
#footer .footer-top .list{
    float: left;
    width:81%;
}
#footer .footer-top li{
    float: left;
    padding-left:8%;
}
#footer .footer-top li:first-child{
    padding-left: 4%;
}
#footer .footer-top h2{
    font-size: 22px;
    color: #fff;
    line-height:50px;
    margin-bottom: 16px;
}
#footer .footer-top a{
    color:#fff;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
#footer .footer-top p{
    font-size:16px;
    color:#fff;
    line-height:46px;
}
#footer .footer-top .tel{
    font-size:22px;
}

#footer .footer-top .right{
    float: right;
    width:19%;
}
#footer .footer-top .right a{
    float: left;
    width:50%;
    padding-top: 11px;
}
#footer .footer-top h3{
    font-size:16px;
    color:#fff;
    line-height:39px;
}
#footer .footer-top img{
    width:90px;
}
#footer .footer-bot{
    padding-top: 20px;
    border-top:1px solid #666;
    text-align: center;
}
#footer .footer-bot .likes{
    font-size:0;
    text-align: center;
}
#footer .footer-bot .likes a{
    display: inline-block;
    *display: inline;
    margin:0 8px;
}
#footer .footer-bot .likes img{
    width:100px;
}
#footer .footer-bot p{
    font-size:12px;
    color:#888;
    line-height:53px;
}
.footer.small #footer .footer-top li{
    padding-left: 5%;
}
.footer.small #footer .footer-top li:first-child{
    padding-left: 2.5%;
}
/****头部*****/
#header{
    position: fixed;
    top:0;
    left:0;
    z-index:5;
    width:100%;
    background:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#header .logo{
    position: absolute;
    top:50%;
    left:3.125%;
    margin-top:-22px;
    width:143px;
    height: 44px;
    display: block;
    line-height:44px;
}
#header .logo img{
    width:100%;
}
.header-nav{
    margin:0 auto;
    width:718px;
}
.header-nav li{
    float: left;
    padding-left: 80px;
    font-size:14px;
    color:#333;
    height:100px;
    line-height:100px;
}
.header-nav li:first-child{
    padding-left: 0;
}
.header-nav li a{
    display: block;
    height:100px;
    color:#333;
    line-height:100px;
    position: relative;
}
.header-nav li a:after{
    content:"";
    width:0;
    left:50%;
    height:2px;
    background:#e6453d;
    position: absolute;
    bottom:0;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.header-nav li:hover a:after,.header-nav li.hover a:after{
    width:100%;
    left:0;
}
.header-nav li:hover a,.header-nav li.hover a{
    color:#ef0a31
}
#header .right{
    position: absolute;
    right:3.125%;
    height:23px;
    top:50%;
    width:188px;
    margin-top: -11px;
}
#header .right a{
    font-size:14px;
    color:#333;
    line-height:23px;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
#header .right a:hover,#header .right a.hover{
    color:#ef0a31;
}
#header .right .lr{
    float: right;
    width:100px;
    display: block;
    position: relative;
}
#header .right .line{
    width:1px;
    height:16px;
    background:#e6453d;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-8px;
    margin-left: -0.5px;
}
.header.small .header-nav{
    width:559px;
}
.header.small .header-nav li{
    padding-left:50px;
}
.header.small .header-nav li:first-child{
    padding-left: 0;
}
/*****首页****/
.welcome-banner{
    position: relative;
    z-index:1;
    width:100%;
    overflow:hidden;
}
.welcome-banner .bg-picture{
    width:100%;
    opacity:0;
    filter:alpha(opacity=0)
}
.welcome-banner li{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover !important;
}
.welcome-banner li a{
    display: block;
    width:100%;
    height:100%;
}
.welcome-banner li .w1520{
    height:100%;
    position: relative;
}
.welcome-banner li .con{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -126px;
}
.welcome-banner li h2{
    font-size:50px;
    color:#fff;
    line-height:94px;
}
.welcome-banner li p{
    font-size:20px;
    color:#fff;
    line-height:32px;
}
.welcome-banner li .more{
    display: block;
    width:140px;
    height:50px;
    margin:40px 0 0;
    background:#fff;
    text-align: center;
    line-height:50px;
    color:#5e70fc;
    font-size:20px;
    border-radius: 25px;
}
.welcome-banner .btns{
    position:absolute;
    bottom:10px;
    left:50%;
}
.welcome-banner .btns span{
    width:6px;
    height:6px;
    border:1px solid #fff;
    border-radius:50%;
    margin:0 5px;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-banner .btns span.cur{
    background:#fff;
}
.welcome-notice{
    width:100%;
    border-bottom:1px solid #eee;
    padding:14px 0;
}
.welcome-notice .txtScroll-top{
    padding-left: 32px;
    background:url(../img/wel02.png) no-repeat left center;
    height:32px;
    line-height:32px;
    width:250px;
    overflow:hidden;
}
.welcome-notice .txtScroll-top .bd li{
    height:32px;
    line-height:32px;
    width:100%;
    overflow: hidden;
}
.welcome-notice .txtScroll-top .bd a{
    display: block;
    width:100%;
    font-size: 14px;
    color:#333;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-notice .ajax_more{
    margin-left:15px;
    height:32px;
    line-height:32px;
    font-size:14px;
    color:#e6453d;
}
.welcome-title{
    font-size:34px;
    color:#333;
    line-height:52px;
}
.welcome-intro{
    padding:90px 0 70px;
    text-align: center;
}
.welcome-intro .list-top{
    width:100%;
    width:94%;
    margin:65px auto 70px;
}
.welcome-intro .list-top li{
    float: left;
    width:19.6%;
    margin:0 2.7%;
    padding:60px 0 86px;
    border-radius:10px;
    box-shadow:0 0 6px rgba(186,192,196,.5);
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-intro .list-top li:hover{
    box-shadow:0 0 20px rgba(143,154,162,.5);
}
.welcome-intro .list-top img{
    margin-bottom: 20px;
}
.welcome-intro .list-top h2{
    font-size:22px;
    color:#333;
    line-height:60px;
    position: relative;
    margin-bottom: 16px;
}
.welcome-intro .list-top h2:after{
    content: '';
    width:40px;
    height:1px;
    background:#ff9100;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -20px;
}
.welcome-intro .list-top p{
    font-size:12px;
    color:#555;
    line-height:18px;
}
.welcome-intro .list-bot{
    width:1013px;
    margin:0 auto;
}
.welcome-intro .list-bot li{
    float: left;
    padding-left: 28px;
    margin-left: 160px;
    font-size:14px;
    color:#999;
    line-height:48px;
    background:url(../img/wel07.png) no-repeat left 26px;
}
.welcome-intro .list-bot .num{
    font-size:40px;
}
.welcome-intro .list-bot li:first-child{
    margin-left: 0;
}
.welcome-minute{
    width:100%;
    background:url(../img/wel09.jpg) no-repeat center;
}
.welcome-minute a{
    display: block;
    box-shadow:0 0 20px rgba(176,150,241,.4);
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-minute img{
    width:100%;
}
.welcome-minute a:hover{
    box-shadow:0 0 30px rgba(176,150,241,.6);
}
.welcome-product{
    padding:90px 0 100px;
    text-align: center;
    background:#f9f9f9;
}
.welcome-product-list{
    width:1140px;
    margin:0 auto;
    padding-top: 69px;
}
.welcome-product-list li{
    float: left;
    position: relative;
    width:231px;
    background:url(../img/wel10.png) no-repeat center;
    margin-left:223px;
    box-shadow:0 0 20px rgba(221,221,221,.5);
    border-radius:37px;
    padding-bottom: 25px;
    background-size:100% 100%;
    top:0;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-product-list li:hover{
    top:-5px;
}
.welcome-product-list li a{
    display: block;
    width:100%;
    padding-top: 197px;
}
.welcome-product-list li:first-child{
    margin-left: 0;
}
.welcome-product-list li dl{
    width:200px;
    margin:0 auto;
}
.welcome-product-list li dd{
    width:180px;
    background:#fff;
    border-radius:10px;
    margin-bottom: 12px;
    padding:10px 13px;
    text-align: left;
}
.welcome-product-list li h3{
    font-size:16px;
    color:#555;
    line-height:35px;
    height:35px;
}
.welcome-product-list li h4{
    font-size: 14px;
    color:#999;
    line-height:35px;
    height:35px;
}
.welcome-product-list li .color{
    color:#ff9f3d;
    font-size:20px;
}
.welcome-product-list .see-more{
    width:200px;
    height:50px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    font-size:18px;
    line-height:50px;
    background:#e6453d;
    border-radius:5px;
    display: block;
}
.welcome-product-list .ts-box{
    padding:22px 21px 48px;
    position: absolute;
    top:25px;
    left:50%;
    margin-left: -150px;
    width:258px;
    text-align: center;
    background-size:100% auto !important;
}
.welcome-product-list .ts-box p{
    font-size:20px;
    color:#d7b06b;
    line-height:36px;
}
.welcome-product-list .ts-box h2{
    font-size:14px;
    color:#999;
    line-height:45px;
}
.welcome-product-list .ts-box .yuan{
    font-size:40px;
    color:#d7b06b;
}
.welcome-product-list li .free{
    width:147px;
    height:100px;
    background:url(../img/wel14.png) no-repeat center;
    background-size:100% auto;
    position: absolute;
    right:0;
    bottom:82px;
    opacity:0;
    filter:alpha(opacity=0);
}
.welcome-product-list li.active .ts-box p{
    color:#fff;
    width:20px;
    text-align: center;
    position: absolute;
    right:35px;
    top:50%;
    line-height:24px;
    margin-top: -48px;
}
.welcome-product-list li.active .ts-box h2{
    color:#fff;
    font-size:40px;
    padding-top: 26px;
    line-height:57px;
    text-align: left;
}
.welcome-product-list li.active .ts-box .yuan{
    font-size:20px;
    color:#fff;
}
.welcome-product-list li.active .free{
    opacity:1;
    filter:alpha(opacity=100);
}
.welcome-activity{
    text-align: center;
    padding:90px 0 100px;
}
.welcome-activity .list{
    width:89.4%;
    margin:0 auto;
    padding-top: 69px;
}
.welcome-activity .list li{
    float: left;
    width:29.4%;
    margin-left:5.88%;
    border-radius:10px;
    box-shadow:0 0 6px rgba(143,154,162,.5);
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-activity .list li:first-child{
    margin-left: 0;
}
.welcome-activity .list a{
    display: block;
    width:100%;
    padding:44px 0 45px;
}
.welcome-activity .list img{
    width:81%;
}
.welcome-activity .list h2{
    font-size:22px;
    color:#333;
    line-height:66px;
    padding-top: 37px;
    margin-bottom: 16px;
    position: relative;
}
.welcome-activity .list h2:after{
    content: '';
    width:40px;
    height:1px;
    background:#e6453d;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -20px;
}
.welcome-activity .list p{
    font-size:12px;
    color:#555;
    line-height:18px;
}
.welcome-activity .list li:hover{
    box-shadow:0 0 20px rgba(143,154,162,.5);
}
.welcome-help{
    padding:90px 0;
    width:100%;
    background:#f9f9f9;
    text-align: center;
}
.welcome-help .lists{
    padding-top: 65px;
}
.welcome-help .lists li{
    float: left;
    width:20%;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
    position: relative;
    left:0;
}
.welcome-help .lists a{
    display: block;
    width:100%;
}
.welcome-help .lists img{
    width:79px;
    margin-bottom: 16px;
}
.welcome-help .lists h2{
    font-size:14px;
    color:#333;
    line-height:34px;
}
.welcome-help .lists p{
    font-size:14px;
    color:#999;
    line-height:34px;
}
.welcome-help .lists li:hover{
    left:-5px;
}
.welcome-expert{
    padding:90px 0 60px;
    text-align: center;
}
.welcome-expert-fonts{
    text-align: center;
    font-size:16px;
    color:#999;
    line-height:29px;
    width:1000px;
    margin:0 auto;
    padding:42px 0 86px;
}
.welcome-expert .lists{
    width:100%;
}
.welcome-expert .lists li{
    float: left;
    width:14.47%;
    text-align: center;
    height:100px;
    line-height:100px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 6px rgba(143,154,162,.5);
    margin:0 2.6% 40px 0;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.welcome-expert .lists a{
    display: block;
    width:100%;
}
.welcome-expert .lists img{
    max-width:100%;
}
.welcome-expert .lists li.out{
    margin-right: 0;
}
.welcome-expert .lists li:hover{
    box-shadow:0 0 20px rgba(143,154,162,.5);
}
.welcome-news{
    padding:90px 0 110px;
    width:100%;
    text-align: center;
    background:#f9f9f9;
}
.welcome-news .list{
    width:100%;
    padding-top: 70px;
}
.welcome-news .list li{
    background:#fff;
    margin-bottom: 40px;
    width:47.45%;
    padding-right: 1.35%;
    text-align: left;
}
.welcome-news .list a{
    display: block;
    width:100%;
}
.welcome-news .list .picture-box{
    width:49.9%;
}
.welcome-news .list .con{
    width:47.3%;
}
.welcome-news .list .title{
    width:100%;
    border-bottom:1px solid #ccc;
    margin-bottom:8px;
}
.welcome-news .list .title a{
    display: block;
    padding:16px 0 15px;
    width:100%;
}
.welcome-news .list .title h2{
    font-size:20px;
    color:#333;
    line-height:20px;
    padding-left: 11px;
    border-left:2px solid #e6453d;
}
.welcome-news .list .title span{
    font-size:14px;
    color:#999;
    letter-spacing: 3px;
}
.welcome-news .list dd{
    display: block;
    width:100%;
    overflow:hidden;
    font-size:14px;
    color:#555;
    line-height:30px;
}
.welcome-news .list dd a{
    color:#555;
}
.welcome-news .list.size dd{
    font-size: 12px;
    line-height:24px;
}
.welcome-news .list.size .title a{
    padding:8px 0;
}
.welcome-news .list.size .title h2{
    font-size:16px;
}
.welcome-news .list.size .title span{
    font-size:12px;
}
/****登入注册****/
.login{
    width:100%;
    background:url(../img/img01.jpg) no-repeat center;
    background-size:cover;
    padding:111px 0 74px;
}
.login-box{
    background:#fff;
    margin-right:11.25%;
    padding:41px 6.5% 60px;
    border-radius:30px;
    width:362px;
    box-shadow:0 0 40px rgba(0,0,0,.5);
}
.login-box .content{
    display: none;
}
.login-box .title{
    width:100%;
    margin-bottom: 19px;
}
.login-box .title li{
    float: left;
    margin-right: 50px;
    position: relative;
    font-size:30px;
    color:#333;
    cursor: pointer;
}
.login-box .title li:after{
    content: '';
    width:0;
    left:50%;
    position: absolute;
    bottom:0;
    height:1px;
    background:#ef0a31;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.login-box .title li:hover:after,.login-box .title li.hover:after{
    width:100%;
    left:0;
}
.login-box .login-change{
    width:100%;
}
.login-box .login-change label{
    display: block;
    padding-left: 47px;
    border-bottom:2px solid #eee;
    height:71px;
    line-height:71px;
    margin-bottom: 22px;
    position: relative;
    background-size:28px auto !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
}
.login-box .login-change label.ico1{
    background-image: url(../img/img02.png);
}
.login-box .login-change label.ico2{
    background-image: url(../img/img03.png);
}
.login-box .login-change label.ico3{
    background-image: url(../img/img04.png);
}
.login-box .login-change label.ico4{
    background-image: url(../img/img05.png);
}
.login-box .login-change input[type="text"], .login-box .login-change input[type="password"]{
    width:100%;
    height:71px;
    line-height:71px;
    display: block;
    padding:0;
    margin:0;
    border:none;
    background:none;
    font-size:20px;
    color:#666;
}
.login-box .code{
    border:none;
    height:36px;
    line-height:36px;
    padding:0 16px;
    border-radius:20px;
    position: absolute;
    right:5px;
    top:50%;
    margin-top: -18px;
    background:#4f93fe;
    color:#fff;
    font-size:16px;
}
.login-box .choice{
    font-size:18px;
    color:#919191;
    line-height:18px;
    height:18px;
    cursor: pointer;
    margin-bottom: 20px;
}
.login-box .choice i{
    float: left;
    display: block;
    border:2px solid #4f93fe;
    width:14px;
    height:14px;
    margin-right: 20px;
    text-align: center;
    line-height:14px;
    font-size:14px;
    color:#fff;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.login-box .choice.hover i{
    background:#4f93fe;
}
.login-box .submit{
    width:320px;
    display: block;
    margin:30px auto 0;
    height:66px;
    line-height:66px;
    text-align: center;
    padding:0;
    background:#4f93fe;
    color:#fff;
    font-size:28px;
    border-radius:30px;
    border:none;
}
.login-box .ts{
    font-size:18px;
    color:#919191;
    line-height:18px;
    margin-top: -6px;
    margin-bottom: 10px;
}
.login-box .ts a{
    color:#ef0a31;
}
/*****股票配资*****/
.stock-nav{
    width:700px;
    margin:0 auto;
    padding:79px 0 72px;
    position: relative;
}
.stock-nav .line{
    content:"";
    width:600px;
    height:1px;
    background:#ccc;
    position: absolute;
    left:50%;
    margin-left: -300px;
    top:128px;
    z-index:-1;
}
.stock-nav li{
    float: left;
    text-align: center;
    margin-left: 152px;
}
.stock-nav li:first-child{
    margin-left: 0;
}
.stock-nav li i{
    display: block;
    width:100px;
    height:100px;
    margin:0 auto 10px;
}
.stock-nav li p{
    font-size:20px;
    color:#ccc;
    line-height:40px;
}
.stock-nav li i.ico1{
    background:url(../img/img06.png) no-repeat center;
}
.stock-nav li i.ico2{
    background:url(../img/img07.png) no-repeat center;
}
.stock-nav li i.ico3{
    background:url(../img/img08.png) no-repeat center;
}
.stock-nav li.hover i.ico1{
    background:url(../img/img06.png) no-repeat center;
}
.stock-nav li.hover i.ico2{
    background:url(../img/img07_h.png) no-repeat center;
}
.stock-nav li.hover i.ico3{
    background:url(../img/img08_h.png) no-repeat center;
}
.stock-box{
    background:#fff;
    padding:0 40px;
}
.stock-title-list{
    padding:40px 0;
    border-bottom:1px solid #ccc;
}
.stock-title-list li{
    float: left;
    width:130px;
    height:40px;
    line-height:40px;
    text-align: center;
    margin-right: 40px;
    font-size:16px;
    color:#fff;
    background:#ccc;
    border-radius:20px;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.stock-title-list li a{
    color:#fff;
    display: block;
    width:100%;
}
.stock-title-list li:hover, .stock-title-list li.hover{
    background:url(../img/img10.png) no-repeat center;
}
.stock-bot{
    padding-bottom:80px;
    text-align: center;
}
.stock-bot .submit{
    display: block;
    margin:39px auto 0;
    width:160px;
    height:56px;
    text-align: center;
    line-height:56px;
    background:url(../img/img14.png) no-repeat center;
    border-radius:28px;
    color:#fff;
    font-size:22px;
}
.stock-bot .fonts{
    font-size:16px;
    color:#333;
    line-height:18px;
    text-align: center;
}
.stock-bot .fonts i{
    width:16px;
    height:16px;
    display: inline-block;
    *display: inline;
    border:1px solid #333;
    color:#fff;
    font-size:14pz;
    text-align: center;
    line-height:16px;
    cursor: pointer;
    margin-right: 10px;
}
.stock-bot .fonts i.hover{
    background:#333;
}
.stock-bot h2{
    font-size:30px;
    color:#e6453d;
    text-align: center;
    line-height:111px;
}
.stock-bot h3{
    font-size:14px;
    color:#999;
    line-height:26px;
    margin-top: 32px;
}
.stock-bot.free{
    padding-bottom: 46px;
}
.stock-center{
    padding:0 0 74px;
}
.stock-center .left{
    float: left;
    width:43%;
    padding-right: 6%;
    background:url(../img/img13.png) no-repeat right bottom;
}
.stock-center .right{
    float: right;
    width:47%;
}
.stock-center h2{
    padding-left: 21px;
    font-size:20px;
    color:#333;
    line-height:99px;
    background:url(../img/img11.png) no-repeat left center;
}
.stock-center h2 span{
    font-size:14px;
    color:#888;
    margin-left: 12px;
}
.stock-center label{
    display: block;
    border-bottom:1px solid #ccc;
    height:54px;
    line-height:54px;
    margin-top: -7px;
    font-size:36px;
    color:#e6453d;
    padding-left: 10px;
}
.stock-center label input{
    padding:0;
    margin:0;
    border:none;
    background:none;
    font-size:18px;
    color:#888;
}
.stock-center .lists{
    width:100%;
    padding-bottom: 95px;
}
.stock-center .lists li{
    float: left;
    margin:0 40px 40px 0;
    width:130px;
    padding:7px 0;
    background:#cccccc;
    text-align: center;
    color:#fff;
    border-radius:20px;
    cursor: pointer;
}
.stock-center .lists li.hover,.stock-center .lists li:hover{
    background:url(../img/img12.png) no-repeat center;
}
.stock-center .lists p{
    font-size:16px;
    line-height:33px;
}
.stock-center .maney{
    margin-top: -6px;
}
.stock-center .maney h3{
    font-size:36px;
    color:#e6453d;
    line-height:47px;
}
.stock-center .maney p{
    font-size:14px;
    color:#888;
    line-height:32px;
    margin-bottom: 12px;
}
.stock-center dl{
    width:100%;
}
.stock-center dd{
    float: left;
    width:100%;
    padding:10px 0;
    border-top:1px dashed #ccc;
}
.stock-center dd .title{
    font-size:16px;
    color:#333;
    line-height:36px;
}
.stock-center dd .con{
    width:80%;
    font-size:16px;
    color:#888;
    line-height:36px;
}
.stock-center dd .black{
    color:#333;
    margin-right: 5%;
}
.stock-center dd .tts{
    color:#e6453d;
    font-size:20px;
}
.stock-center dd .box{
    border:1px solid #888;
    line-height:18px;
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    margin-left: 5%;
}
.stock-center dd .box i{
    color:#fff;
    background:#888;
    font-style: inherit;
    padding:0 5px;
    line-height:18px;
    margin-right: 5px;
}
.stock-center .qh{
    padding-left: 23px;
    margin-right: 49px;
    cursor: pointer;
    background:url(../img/img16.png) no-repeat left center;
}
.stock-center .qh.hover{
    background:url(../img/img16_h.png) no-repeat left center;
}
.stock-tts{
    padding:22px 0 152px;
}
.stock-tts h2{
    font-size:20px;
    color:#333;
    line-height:55px;
}
.stock-tts p{
    font-size:16px;
    color:#888;
    line-height:34px;
}
.stock-free{
    width:86%;
    margin:0 auto;
}
.stock-free h2{
    font-size:20px;
    color:#333;
    line-height:99px;
    margin-bottom: 20px;
    text-align: center;
}
.stock-free ul{
    width:100%;
    text-align: left;
}
.stock-free li{
    width:100%;
    margin-bottom: 20px;
}
.stock-free li h3{
    font-size:20px;
    color:#888;
    line-height:59px;
    padding-left: 30px;
    background:url(../img/img17.png) no-repeat left center;
}
.stock-free li .small{
    padding-left: 44px;
    font-size:16px;
}
.stock-free li .red{
    font-size:22px;
    color:#e6453d;
}
.stock-free li .line{
    width:100%;
    height:24px;
    border-radius:12px;
    overflow:hidden;
    background:#ffd3d1;
    position: relative;
}
.stock-free li .ww{
    position: absolute;
    top:0;
    left:0;
    height:24px;
    width:0;
    background:#e6453d;
    border-radius:12px;
     position: relative;
}
.bond-box{
    padding:0 40px 36px;
    background:#fff;
}
.bond-box h1,.personal-opera-info-top .title,.information-title{
    font-size:20px;
    color:#333;
    line-height:100px;
    border-bottom:1px solid #ccc;
    padding-left: 21px;
    background:url(../img/img11.png) no-repeat left center;
}
.bond-calculation{
    padding:35px 0;
    text-align: center;
    font-size:0;
}
.bond-calculation a{
    display: inline-block;
    *display: inline;
    padding:0 89px 0 82px;
    text-align: left;
}
.bond-calculation a.ico1{
    background:url(../img/img18.png) no-repeat right 24px;
}
.bond-calculation a.ico2{
    background:url(../img/img19.png) no-repeat right 24px;
}
.bond-calculation a h2{
    font-size:36px;
    color:#333;
    line-height:54px;
}
.bond-calculation a span.yuan{
    font-size:16px;
}
.bond-calculation a p{
    font-size:16px;
    color:#888;
    line-height:26px;
}
.bond-ts{
    font-size:16px;
    color:#888;
    text-align: center;
    line-height:30px;
    margin-bottom: 80px;
}
.bond-ts .black{
    color:#333;
}
.bond-ts a{
    width:92px;
    height:30px;
    text-align: center;
    color:#fff;
    background:#e6453d;
    font-size:16px;
    display: inline-block;
    *display: inline;
    border-radius:18px;
    margin-left: 1%;
}
.bond-box .table{
    padding-bottom: 80px;
}
.bond-box .table table{
    width:100%;
    background:#faf9f9;
    text-align: center;
}
.bond-box .table th{
    background:#ffd5d3;
    font-size:16px;
    color:#888;
    line-height:36px;
    font-weight: normal;
}
.bond-box .table th,.bond-box .table td{
    padding:12px 3px;
}
.bond-box .table td{
    font-size:16px;
    color:#888;
    line-height:36px;
}
.bond-links{
    padding-bottom: 21px;
    width:400px;
    margin:0 auto;
}
.bond-links a{
    width:160px;
    height:56px;
    text-align: center;
    line-height:56px;
    font-size:20px;
    color:#fff;
    border-radius:28px;
    background:#ccc;
    display: block;
}
.bond-links a:first-child{
    background:url(../img/img14.png) no-repeat center;
}
.bond-box-tts{
    width:100%;
}
.bond-box-tts h2{
    font-size:20px;
    color:#333;
    line-height:56px;
}
.bond-box-tts p{
    font-size:16px;
    color:#888;
    line-height:34px;
}
.stock-number{
    padding:67px 0 38px;
    text-align: center;
}
.stock-number img{
    width:303px;
    margin-bottom: 7px;
}
.stock-number p{
    font-size:18px;
    color:#333;
    line-height:46px;
}
.stock-number a{
    display: block;
    margin:24px auto 0;
    width:160px;
    height:56px;
    text-align: center;
    line-height:56px;
    font-size:20px;
    color:#fff;
    border-radius:28px;
    background:url(../img/img14.png) no-repeat center;
}
.personal-box{
    padding:80px 0 150px;
}
.personal-nav{
    width:14%;
    float: left;
    background:#fff;
}
.personal-nav-top{
    width:100%;
    padding:40px 0 26px;
    text-align: center;
}
.header-picture{
    width:80px;
    height:80px;
    border-radius:50%;
    margin:0 auto;
    position: relative;
    background:url(../img/img09_none.png) no-repeat center;
    background-size:cover !important;
}
.header-picture .picture{
    width:80px;
    height:80px;
    border-radius:50%;
    position: absolute;
    top:0;
    left:0;
    background-size:cover !important;
}
.personal-nav-top p{
    font-size:12px;
    color:#333;
    line-height:40px;
}
.personal-nav-top .change-name{
    width:14px;
    height:13px;
    display: inline-block;
    *display: inline;
    background:url(../img/img20.png) no-repeat center;
    margin-left: 6px;
}
.personal-nav .title{
    width:100%;
    background:#f0f0f0;
    text-align: center;
    font-size:18px;
    color:#333;
    height:54px;
    line-height:54px;
}
.personal-nav .title span{
    padding-left: 31px;
}
.personal-nav .title .ico1{
    background:url(../img/img21.png) no-repeat left center;
}
.personal-nav .title .ico2{
    background:url(../img/img22.png) no-repeat left center;
}
.personal-nav .title .ico3{
    background:url(../img/img23.png) no-repeat left center;
}
.personal-nav .con{
    padding:6px 0 7px;
    background:#fff;
}
.personal-nav .con a{
    display: block;
    width:100%;
    font-size:14px;
    color:#555;
    line-height:28px;
    text-align: center;
    position: relative;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-nav .con .red{
    width:50px;
    height: 16px;
    display: block;
    text-align: center;
    color:#fff;
    background:url(../img/img24.png) no-repeat center;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-12px;
    margin-left: 30px;
}
.form-box{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.form-box .form-label{
    overflow: hidden;
    margin: 5%;
    text-align: left;
    margin-top: 7%;
}
.form-box .form-label i {
    color: #d43f3a;
    margin: 10px;
}
.form-box .form-label span {
    font-size: 16px;
    color: #555555;
    letter-spacing: 1px;
}
.form-box .form-label input {
    outline: none;
    border: 1px solid #dddddd;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    width:70%;
    margin-left: 1%;
}
.ant-form-explain{
    font-size: 14px;
    color: #e6453d;
    display: none;
    text-align: center;
}
.form-box .suy{
    outline: none;
    cursor: pointer;
    background-color: #ed5551;
    color: #ffffff;
    font-size: 14px;
    width: 84%;
    margin-top: 5%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 5%;
}
.personal-right{
    width:79%;
    padding:28px 2.5%;
    background:#fff;
    min-height:555px;
}
.personal-title{
    width:100%;
    font-size:14px;
    color:#333;
    line-height:33px;
}
.personal-title .grader{
    width:150px;
    height:14px;
    border-radius:7px;
    background:#eeeeee;
    position: relative;
    margin: 9px 1.25% 0;
}
.personal-title .grader .ww{
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:14px;
    border-radius:7px;
    background:#e6453d;
}
.personal-title .balance{
    font-size:18px;
    margin-left:3%;
}
.personal-title .balance i{
    color:#e6453d;
    font-size:22px;
    font-style: inherit;
}
.personal-title a{
    margin-left:3%;
    width:80px;
    height:32px;
    text-align: center;
    line-height:32px;
    border-radius:16px;
    color:#fff;
    display: block;
    background:#128ede;
    font-size:12px;
}
.personal-title a.cash{
    margin-left: 6%;
}
.personal-title a.recharge{
    background:#e6453d;
}
.personal-list{
    padding:10px 0 40px;
}
.personal-list a{
    float: left;
    width:23px;
    height:18px;
    margin-right: 1%;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-list a.ico1{
    background:url(../img/img25.png) no-repeat center;
}
.personal-list a.ico2{
    background:url(../img/img26.png) no-repeat center;
}
.personal-list a.ico3{
    background:url(../img/img27.png) no-repeat center;
}
.personal-list a.ico4{
    background:url(../img/img28.png) no-repeat center;
}
.personal-list a:hover.ico1{
    background:url(../img/img25_h.png) no-repeat center;
}
.personal-list a:hover.ico2{
    background:url(../img/img26_h.png) no-repeat center;
}
.personal-list a:hover.ico3{
    background:url(../img/img27_h.png) no-repeat center;
}
.personal-list a:hover.ico4{
    background:url(../img/img28_h.png) no-repeat center;
}
.personal-intro{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:19px 0;
}
.personal-intro li{
    float: left;
    border-left:1px solid #ddd;
    text-align: center;
    width:19.8%;
    padding:6px 0;
}
.personal-intro li:first-child{
    border-left:none;
}
.personal-intro li p{
    font-size:14px;
    color:#333;
    line-height:33px;
}
.personal-intro li p span{
    padding-right: 24px;
}
.personal-intro li span.ico1{
    background:url(../img/img29.png) no-repeat right center;
}
.personal-intro li h2{
    font-size:20px;
    color:#333;
    line-height:36px;
}
.personal-intro li .yuan{
    font-size:14px;
}
.personal-list-title{
    font-size:18px;
    color:#333;
    line-height:56px;
    border-bottom:1px solid #ddd;
}
.personal-list-title .span{
    margin-left: 22px;
    font-size:14px;
}
.personal-list-title i{
    color:#e6453d;
    font-style:inherit
}
.personal-list-con{
    padding:12px 0;
    width:100%;
    border-bottom:1px solid #ddd;
}
.personal-list-con.none{
    border-bottom:none;
}
.personal-list-con .add{
    padding:21px 0 20px;
    margin:0 auto;
    width:100px;
    text-align: center;
}
.personal-list-con .add a{
    display: block;
    width:100%;
}
.personal-list-con .add p{
    font-size:14px;
    color:#333;
    line-height:24px;
    padding-top: 10px;
}
.personal-list-con .top{
    padding-bottom: 10px;
}
.personal-list-con .top .box{
    float: left;
    width:170px;
    text-align: left;
}
.personal-list-con .top p{
    font-size:14px;
    color:#333;
    line-height:33px;
}
.personal-list-con .top h2{
    font-size:18px;
    color:#e6453d;
    line-height:35px;
}
.personal-list-con .top a{
    float: left;
    margin-left:40px;
    width:80px;
    height:32px;
    text-align: center;
    line-height:32px;
    background:url(../img/img31.png) no-repeat center;
    color:#fff;
    font-size:12px;
}
.personal-list-con table,.personal-list-con table tr{
    width:100%;
    text-align: left;
}
.personal-list-con table th{
    font-size:14px;
    color:#333;
    line-height:33px;
    padding:0 0 0 5px;
}
.personal-list-con table td{
    font-size:14px;
    color:#888;
    line-height:33px;
    padding:0 0 0 5px;
}
.form-group{
    position: relative;
    width:180px;
}
.operate-search{
    padding:40px 0;
}
.operate-search .submit{
    width:80px;
    height:32px;
    text-align: center;
    line-height:32px;
    background:#e6453d;
    color:#fff;
    font-size:12px;
    border-radius:16px;
    border:none;
}
.operate-search .time-box{
    margin-right: 50px;
}
.operate-search .new_type{
    font-size:14px;
    color:#333;
    line-height:32px;
    min-width: 34px;
    text-align: center;
}
.operate-search .time-box input{
    width:168px;
    padding-left: 10px;
    height:22px;
    line-height:22px;
    font-size:14px;
    color:#333;
    margin-top: 4px;
    border:1px solid #888;
    background-color:transparent;
    background:url(../img/img32.png) no-repeat 158px center;
}
.operate-search .pro-type{
    padding-right: 40px;
}
.operate-search .pro-type select{
    border:1px solid #888;
    height:22px;
    line-height:22px;
    font-size:14px;
    color:#333;
    margin-top: 4px;
    min-width:80px;
}
.operate-table{
    width:100%;
}
.operate-table table{
    width:100%;
    margin-bottom: 10px;
}
.operate-table tr{
    width:100%;
    text-align: center;
    border-bottom:1px solid #ddd;
}
.operate-table th{
    font-size:16px;
    color:#888;
    line-height:36px;
    padding:10px 0;
    background:#ffd5d3;
    font-weight: normal;
    min-width:80px;
}
.operate-table tr:first-child{
    border-bottom:none;
}
.operate-table td{
    font-size:16px;
    color:#888;
    line-height:36px;
    padding:10px 0;
}
.operate-table td .blue{
    color:#4d81df;
}
.operate-table td a{
    display: block;
    width:100%;
    color:#888;
}
.page{
    font-size:12px;
    color:#888;
    line-height:32px;
    text-align: right;
    position: relative;
}
.page p{
    float: right;
    font-size:16px;
    line-height:32px;
    position: absolute;
    left:0;
    top:0;
}
.page a.prev{
    position: relative;
    top:0;
    color:#888;
    padding-left: 15px;
    margin-right: 15px;
    background:url(../img/img33.png) no-repeat left center;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.page a.next{
    position: relative;
    top:0;
    color:#888;
    padding-right: 15px;
    margin-right: 10px;
    background:url(../img/img34.png) no-repeat right center;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.page a:hover{
    top:-5px;
}
.form-box1{
    width:400px;
    margin:0 auto;
    padding:32px 0 50px;
}
.form-box1 .form-label{
    border-bottom:1px solid #ddd;
    height:47px;
    line-height:46px;
    font-size:40px;
    color:#333;
}
.form-box1 .form-label span{
    line-height:46px;
}
.form-box1 .form-label input{
    line-height:46px;
    color:#333;
    padding: 0;
    margin: 0;
    height:44px;
    width:70%;
    border:none;
    font-size:20px;
    position: relative;
    top: -6px;
}
.form-box1 .form-explain{
    font-size:16px;
    color:#666;
    line-height:26px;
    padding:12px 0 17px;
}
.form-box1 h3{
    font-size:40px;
    color:#999;
    line-height:49px;
    margin-bottom: 49px;
}
.form-box1 h3 .bb{
    font-size:28px;
}
.form-box1 .suy {
    outline: none;
    cursor: pointer;
    background-color: #ed5551;
    color: #ffffff;
    font-size: 14px;
    width:100%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.form-box1 select{
    width:100%;
    border:1px solid #ddd;
    height: 30px;
    line-height:30px;
}
.personal-opera-info-now{
    font-size: 14px;
    color:#999;
    line-height:54px;
    padding-top: 25px;
}
.personal-opera-info-now a{
    color:#999;
}
.personal-opera-info-box{
    padding-bottom: 150px;
}
.personal-opera-info-top,.personal-opera-info-bot{
    background:#fff;
    padding:0 40px;
}
.personal-opera-info-bot{
    margin-top: 40px;
}
.personal-opera-info-clist{
    padding:24px 0 40px;
    border-bottom:1px solid #ddd;
}
.personal-opera-info-clist .left{
    width:54%;
    float: left;
}
.personal-opera-info-clist .right{
    width:25.2%;
    float: right;
    border:1px solid #e6453d;
    padding:10px 1.2% 19px;
}
.personal-opera-info-clist .right p{
    font-size:16px;
    color:#333;
    line-height:36px;
}
.personal-opera-info-clist .right p.icon{
    padding-left: 29px;
    background:url(../img/img35.png) no-repeat left center;
}
.personal-opera-info-clist .right .link{
    padding-top: 10px;
}
.personal-opera-info-clist .right a{
    width:80px;
    height:32px;
    text-align: center;
    line-height:32px;
    background:#e6453d;
    color:#fff;
    display: block;
    float: left;
    margin-right: 20px;
    border-radius:16px;
}
.personal-opera-info-clist .left ul{
    width:100%;
    padding:3px 0 13px;
}
.personal-opera-info-clist .left li{
    padding:0 10% 0 11%;
    float: left;
}
.personal-opera-info-clist .left li:first-child{
    padding-left: 0;
    background:url(../img/img19.png) no-repeat right center;
}
.personal-opera-info-clist .left li.ico2{
    background:url(../img/img18.png) no-repeat right center;
}
.personal-opera-info-clist .left li p{
    font-size:16px;
    color:#333;
    line-height:43px;
}
.personal-opera-info-clist .left li .red{
    color:#e6453d;
    font-size:20px;
}
.personal-opera-info-clist .left dl{
    width:100%;
}
.personal-opera-info-clist .left dd{
    float: left;
    font-size:15px;
    color:#999;
    width:35%;
    line-height:45px;
}
.personal-opera-info-clist .left dd.nunw{
    width:65%;
}
.personal-opera-info-blist{
    width:100%;
    padding:26px 0 65px;
}
.personal-opera-info-blist li{
    float: left;
    text-align: center;
    margin-right: 6%;
}
.personal-opera-info-blist li p{
    font-size:16px;
    color:#888;
    line-height:43px;
}
.personal-opera-info-blist li .red{
    font-size:20px;
}
.personal-opera-info-blist li .black{
    color:#333;
    font-size: 20px;
}
.personal-opera-info-blist li .pic{
    padding-right: 25px;
    background:url(../img/img29.png) no-repeat right center;
}
.personal-opera-info-bot .title-list{
    width:100%;
    height:58px;
    border-bottom:1px solid #ccc;
}
.personal-opera-info-bot .title-list li{
    float: left;
    margin-right: 5.4%;
    font-size:18px;
    color:#333;
    line-height:58px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-opera-info-bot .title-list li:after{
    content:"";
    width:0;
    height:1px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: 0px;
    background:#e6453d;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-opera-info-con{
    padding:40px 0;
}
.personal-opera-info-con .left{
    width:53%;
    float: left;
    padding-right: 10%;
    border-right:1px solid #ccc;
}
.personal-opera-info-con .right{
    width:27.4%;
    float: right;
}
.personal-opera-info-con .right p{
    font-size:16px;
    color:#999;
    line-height:20px;
    margin-bottom: 30px;
    padding-left: 36px;
}
.personal-opera-info-con .right p.ico1{
    background:url(../img/img36.png) no-repeat left center;
}
.personal-opera-info-con .right p.ico2{
    background:url(../img/img37.png) no-repeat left center;
}
.personal-opera-info-con .left table{
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}
.personal-opera-info-con .left th{
    font-size:16px;
    color:#999;
    line-height:20px;
    font-weight: normal
}
.personal-opera-info-con .left td{
    font-size:16px;
    color:#999;
    line-height:22px;
    padding:23px 0 32px;
    border-bottom:1px solid #ccc;
}
.personal-opera-info-con .content{
    display: none;
}
.rechange-nav{
    width:100%;
    text-align: center;
    border-bottom:1px solid #ddd;
    line-height:92px;
    height:92px;
}
.rechange-nav li{
    float: left;
    font-size:18px;
    color:#555;
    cursor: pointer;
    margin-right: 6.75%;
    position: relative;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.rechange-nav li a{
    color:#555;
    display: block;
    width:100%;
}
.rechange-nav li:after{
    content:"";
    width:0;
    height:1px;
    background:#e6453d;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: 0;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-right.bb{
    padding-top: 0;
    min-height:583px;
}
.personal-right.out{
    padding-top: 0;
    padding-bottom: 0;
    min-height:583px;
}
.personal-opera-info-bot .title-list li:hover:after,.personal-opera-info-bot .title-list li.hover:after,.rechange-nav li:hover:after,.rechange-nav li.hover:after{
    width:30px;
    margin-left:-15px;
}
.alipay-box{
    width:402px;
    margin: 40px auto 0;
}
.alipay-box img{
    width:129px;
    margin:0 auto 27px;
    display: block;
}
.alipay-box .i-box{
    width:100%;
    height:42px;
    position: relative;
    margin-bottom: 80px;
}
.alipay-box .i-box span{
    font-size:16px;
    color:#333;
    line-height:41px;
}
.alipay-box .i-box i{
    color:#e6453d;
    font-style:inherit;
}
.alipay-box .i-box input{
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    line-height:41px;
    color:#666;
    width:300px;
    float: right;
    border-bottom:1px solid #ccc;
}
.alipay-box .i-box .yuan{
    position: absolute;
    top:0;
    right:0;
}
.alipay-box input[type="button"],.personal-drawing-top input[type="button"],.personal-card-bot input[type="button"]{
    width:400px;
    height:48px;
    border:none;
    font-size:20px;
    color:#fff;
    text-align: center;
    line-height:48px;
    padding:0;
    margin:0 auto;
    background:url(../img/img39.png) no-repeat center;
    border-radius:24px;
}
.personal-drawing{
    padding-top: 73px;
}
.personal-drawing-top{
    width:412px;
    margin:0 auto 83px;
}
.personal-drawing-top .box{
    font-size:16px;
    color:#333;
    position: relative;
    line-height:30px;
    margin-bottom: 32px;
}
.personal-drawing-top .box.first{
    margin-bottom: 25px;
}
.personal-drawing-top input[type="text"],.personal-drawing-top select,.personal-drawing-top input[type="password"]{
    padding:0;
    margin:0;
    border:none;
    width:300px;
    float: right;
    margin-right: 20px;
    color:#666;
    font-size:14px;
    line-height:30px;
    height:31px;
    border-bottom:1px solid #ccc;
}
.personal-drawing-top .bold{
    position: absolute;
    right:20px;
    top:0;
}
.personal-drawing-top input[type="button"]{
    margin-top: 48px;
}
.personal-drawing .lists{
    width:100%;
    padding-bottom: 38px;
}
.personal-drawing .lists li{
    float: left;
    width:33.33%;
    text-align: center;
}
.personal-drawing .lists img{
    width:80px;
    display: block;
    margin:0 auto 9px;
}
.personal-drawing .lists h2{
    font-size:16px;
    color:#333;
    line-height:57px;
    margin-bottom: 17px;
}
.personal-drawing .lists h2:after{
    content:"";
    width:40px;
    height:1px;
    background:#e6453d;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -20px;
}
.personal-drawing .lists p{
    font-size:14px;
    color:#555;
    line-height:20px;
    width:200px;
    margin:0 auto;
}
.personal-drawing-bot{
    padding-left: 32px;
    font-size:14px;
    line-height:55px;
    border-top:1px solid #ccc;
    color:#e6453d;
    background:url(../img/wel02.png) no-repeat left center;
}
.personal-card-list{
    border-bottom:1px solid #ccc;
}
.personal-card-list .lists{
    width:100%;
    margin: 35px 20px;
}
.personal-card-list .lists li {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 248px;
    height: 118px;
    float: left;
    margin: 0 9px 5px 9px;
    text-align: center;
    font-size: 16px;
    background: url(../img/img43.png) no-repeat right bottom;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari 和 Chrome */
    -o-transition: all .3s; /* Opera */
}
.personal-card-list .lists h2{
    line-height: 82px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.personal-card-list .lists p{
    line-height: 34px;
}
.personal-card-list .lists li.cur{
    border: 1px solid #e6453d;
    background: url(../img/img43_h.png) no-repeat right bottom;
}
.personal-card-list .delete{
    color: #878787;
    font-size: 14px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    line-height: 38px;
    padding: 0 20px;
    float: right;
    cursor: pointer;
}
.personal-card-bot{
    padding:67px 0 265px 23%;
}
.personal-card-bot p{
    font-size:16px;
    color:#333;
    line-height:42px;
    padding-bottom: 23px;
    position: relative;
}
.personal-card-bot p .name{
    color:#999;
}
.personal-card-bot select,.personal-card-bot input[type="text"]{
    padding:0;
    margin:0;
    border:none;
    border-bottom:1px solid #ccc;
    margin-right: 20px;
    color:#999;
    height:42px;
    line-height:41px;
}
.personal-card-bot select.card{
    width:300px;
}
.personal-card-bot select.province,.personal-card-bot select.city{
    width:105px;
}
.personal-card-bot select.bank{
    width:200px;
}
.personal-card-bot input[type="text"]{
    width:300px;
}
.personal-card-bot input[type="button"]{
    margin-top: 57px;
}
.personal-intro.bb{
    border-top:none;
    padding:40px 0;
}
.personal-information-box{
    padding:63px 0 7px;
    width:620px;
    margin:0 auto;
}
.personal-information-box li{
    width:100%;
    float: left;
    text-align: center;
}
.personal-information-box .title{
    text-align: right;
    width:160px;
    font-size:16px;
    color:#333;
    line-height:48px;
}
.personal-information-box .fonts{
    width:310px;
    font-size:16px;
    color:#999;
    margin-left: 6px;
    line-height:48px;
    text-align: left;
}
.personal-information-box .ts{
    padding-left: 44px;
    font-size:16px;
    color:#999;
    line-height:48px;
    text-align: left;
}
.personal-information-box .ts a{
    color:#999;
}
.personal-information-box .ts.ico2{
    background:url(../img/img45.png) no-repeat left center;
}
.personal-information-box .ts.ico3{
    background:url(../img/img46.png) no-repeat left center;
}
.personal-information-box .ico1{
    padding-left: 40px;
    background:url(../img/img44.png) no-repeat left center;
}
.personal-information-box .btns,.personal-information-box input[type="button"]{
    padding:0;
    margin:0;
    border:none;
    background:url(../img/img14.png) no-repeat center;
    width:160px;
    height:56px;
    line-height:56px;
    text-align: center;
    color:#fff;
    font-size:22px;
    margin:52px auto 0;
    display: block;
    border-radius: 28px;
    overflow:hidden;
}
.personal-information-box .fonts input[type="text"],.personal-information-box .fonts select{
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    color:#666;
    width:100%;
    border-bottom:1px solid #ccc;
    line-height:47px;
    height:48px;
}
.personal-information-box .fonts label{
    width:70px;
    float: left;
}
.personal-information-box input[type="button"]{
    margin:52px 15px 0;
    display:inline-block;
}
.personal-information-box input[type="button"].btn2{
    background:#dadada;
}
#change{
    display: none;
}
.certif-content .name p.black{
    color:#333;
}
.certif-content .name p.gray{
    color:#999;
}
.certif-content .name h2.gray{
    color:#999;
}
.stock-number p.red,.bond-box .table .red,.bond-ts .red,.bond-calculation a span.red,.welcome-notice .txtScroll-top .bd li:hover a,#footer .footer-top a:hover,.stock-nav li.hover p,.stock-bot .fonts a,.stock-center dd .red,.personal-nav .con a:hover,.personal-nav .con a.hover,.operate-table td a:hover,.personal-opera-info-now a:hover,.personal-opera-info-clist .right .red,.personal-opera-info-clist .left dd .red,.personal-opera-info-blist li .red,.personal-opera-info-bot .title-list li:hover,.personal-opera-info-bot .title-list li.hover,.rechange-nav li:hover a,.rechange-nav li.hover a,.personal-drawing-top .box .red,.personal-drawing .lists .red,.personal-card-bot p .red,.page p .red,.personal-information-box .red,.welcome-news .list dd a:hover{
    color:#e6453d;
}