@charset "utf-8";
*{margin: 0;padding: 0;font-family: "微软雅黑";}
html{height: 100%;}
body{height: 100%;background-color: rgb(82, 86, 90);}

.hd-xiy{width: 795px;margin: 0 auto;background: #FFFFFF;overflow: hidden;box-shadow: 0px 0px 40px rgba(70,73,76);margin-top: 3%;}
.hd-xiy .container{background-repeat-x: no-repeat;text-align: center;width: 74%;background-image:url("");background-size: 60%;background-position: center;margin:0 auto}
.hd-xiy .container h1{margin-top: 10%;font-size: 14px;}
.hd-xiy .container .p1{text-align: left;font-size: 12px;margin: 8% 0;}
.hd-xiy .container .up1{margin-top: 5%;}
.hd-xiy .container p{text-align: left;font-size: 12px;line-height: 22px;letter-spacing: 1px;color: #333333;}
.hd-xiy .container .col-md-12{padding: 0;}
.hd-xiy .container .col-md-12 h5{text-align: left;font-size: 12px;margin: 5% 0;}
.hd-xiy .container .col-md-12 p{margin:4% 0;}
