/********.cotn_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #aac4bc;
    background: -moz-linear-gradient(-45deg,#aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
    background: -webkit-linear-gradient(-45deg,#aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
    background: linear-gradient(135deg,#aac4bc 0%,#eca8a8 100%,#eed5a9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc',endColorstr='#b0bec5',GradientType=1 )
}
.cont_centrar {
    position: relative;
    float: left;
    width: 100%
}********/
.cont_login {
    position: relative;
    width:820px;
    margin:0 auto;
}
.cont_back_info {
    position: relative;
    float: left;
    width: 820px;
    height:260px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.5)
}
.cont_forms {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width:410px;
    height:260px;
    background-color: #eee;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_forms_active_login {
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,.5);
    height:510px;
    top:-123px;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_forms_active_sign_up {
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,.5);
    height:510px;
    top:-123px;
    left:410px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_img_back_grey {
    position: absolute;
    width:820px;
    top: -80px;
    left:0px
}
.cont_img_back_grey>img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
.cont_img_back_ {
    position: absolute;
    width:820px;
    top: -80px;
    left:-0px
}
.cont_img_back_>img {
    width: 100%;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
.cont_forms_active_login>.cont_img_back_ {
    top: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_forms_active_sign_up>.cont_img_back_ {
    top: 0;
    left: -435px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_info_log_sign_up {
    position: absolute;
    width: 820px;
    height:260px;
    top: 0;
    z-index: 1
}
.col_md_login {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}
.col_md_login>h2 {
    font-size:30px;
    color:#333;
    line-height: 68px;
    padding-top: 39px;
}
.col_md_login>p {
   font-size:20px;
   color:#333;
   line-height:59px;
   margin-bottom: 48px;
}
.btn_login,.btn_sign_up{
    background-color: #4f93fe;
    border: 0;
    padding: 0;
    width: 270px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
.col_md_sign_up {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}
.cont_ba_opcitiy>h2 {
    font-size:30px;
    color:#333;
    line-height: 68px;
    padding-top:30px;
}
.cont_ba_opcitiy>p {
    font-size:20px;
    color:#333;
    line-height:59px;
    margin-bottom:20px;
}
.cont_ba_opcitiy {
    position: relative;
    height:260px;
    border-right: 1px solid #d8d8d8;
}
.cont_forms_active_sign_up {
    z-index: 2
}
@-webkit-keyframes animar_fondo {
    from {
        -webkit-transform: scale(1) translate(0px);
        -moz-transform: scale(1) translate(0px);
        -ms-transform: scale(1) translate(0px);
        -o-transform: scale(1) translate(0px);
        transform: scale(1) translate(0px)
    }

    to {
        -webkit-transform: scale(1.5) translate(50px);
        -moz-transform: scale(1.5) translate(50px);
        -ms-transform: scale(1.5) translate(50px);
        -o-transform: scale(1.5) translate(50px);
        transform: scale(1.5) translate(50px)
    }
}
@-o-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}
@-moz-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}
@keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}
.cont_form_login {
    position: absolute;
    opacity: 0;
    display: none;
    width:360px;
    top:0;
    left:50%;
    margin-left: -180px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_forms_active_login {
    z-index: 2
}
.cont_form_sign_up {
    width: 360px;
    margin:0 auto;
    opacity: 0;
    display: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.cont_form_login>h2,.cont_form_sign_up>h2{
    color: #333;
    font-size:30px;
    line-height:66px;
    text-align: center;
    position: relative;
}
.cont_form_login>h2.bb{
    margin-top:52px;
}
.cont_form_login>a,.cont_form_sign_up>a{
    color: #666;
    position: relative;
    width:12px;
    height:21px;
    margin-top: 20px;
    display: block;
    margin-left: -13px;
    background:url(../img/wel37.png) no-repeat center;
}