.content-box{
	padding-top: 100px;
}
.news_header img{
	width: 100%;
}
.news_content{
	width: 100%;
	background: #f9f9f9;
	padding: 40px 0 0px 0;
}
.news_content .roll{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
}
.detail-content{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
	background: #fff;
	padding: 60px 0;
}
.detail-content .detail-news{
	border-bottom: 1px solid #e4e4e4;
}
.detail-content .detail-news h2{
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.detail-content .detail-news h4{
	font-size: 12px;
	color: #555555;
	line-height: 70px;
	text-align: center;
}
.detail-content .detail-news img{
	width: 33%;
	margin-left: 33.7%;
	padding-bottom: 60px;
}
.detail-content .detail-news p{
	font-size: 14px;
	color: #5a5a5a;
	padding-bottom: 60px;
}
.detail-content .detail-footer{
	padding: 35px;
}
.detail-content .detail-footer a{
	font-size: 16px;
	color: #5a5a5a;
	line-height: 50px;
}
.detail-content .detail-footer a:hover,.detail-content .detail-footer p:hover{
	color: #fe0000;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.detail-content .detail-footer p{
	font-size: 16px;
	color: #5a5a5a;
	line-height: 50px;
	background: url(../imgs/back.png) no-repeat  center;
	text-align: right;
	float: right;
	padding-left: 100px;
	margin-right: 45px;
}
/*.about_header{
	height: 700px;
	background: url(../imgs/about01.png) no-repeat  center;
}*/
.about_header img{
	width: 100%;
	float: left;
}
.about_header .about{
	margin-left: 79.6%;
	padding-top: 210px;
}
.about_header h3{
    font-size: 40px;
    color: #387fea;
    line-height: 98px;
    text-align: right;
    position: absolute;
}
.about_header p{
    font-size: 30px;
    position: absolute;
    color: #387fea;
    line-height: 88px;
    text-align: right;
    margin: 90px 0 0 36px;
}
.about_header h3:after {
    content: "";
    height: 2px;
    width: 54px;
    background: #387fea;
    position: absolute;
    bottom: 0;
    right:3px;
    margin-left: -50px;
}
.about-peizi{
	background: #f9f9f9;
	padding: 40px 0 90px 0;
}
.about-peizi h2{
	width: 140px;
	margin: 0 auto;
	font-size: 34px;
	color: #000;
	text-align: center;
	line-height: 150px;
}
.about-peizi p{
	width: 57%;
	margin: 0 auto;
	font-size: 16px;
	color: #555555;
	text-align: center;
	padding: 20px 0;
}
.about-model{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
	background: #fff;
}
.about-model h2{
	width: 140px;
	margin: 0 auto;
	font-size: 34px;
	color: #000;
	text-align: center;
	line-height: 230px;
}
.about-model .model{
	width: 40.6%;
	float: left;
	padding: 40px 40px 105px;
}
.about-model h5{
	font-size: 20px;
	color: #333333;
}
.about-model p{
	font-size: 16px;
	color: #555555;
}
.about-model img{
	float: right;
	padding-right: 107px;
	width: 34.5%;
}
.about-safe{
	background: #f9f9f9;
	padding: 20px 0 60px;
}
.about-safe ul{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
	padding: 20px 0;
}
.about-safe h2{
	width: 140px;
	margin: 0 auto;
	font-size: 34px;
	color: #000;
	text-align: center;
	line-height: 200px;
}
.about-safe li{
	width: 20%;
	margin: 0 2% 35px;
	float: left;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(86,86,86,.13);
}
.about-safe li:hover{
	box-shadow: 0 0 50px rgba(56,56,56,.23);
}
.about-safe li img{
	padding-top: 58px;
	margin: 0 auto;
	display: block;
}
.about-safe h3{
	position: relative;
	font-size: 18px;
	text-align: center;
	color: #222222;
	line-height: 58px;
}
.about-safe h3:after{
	content: "";
    height: 2px;
    width: 40px;
    background: #e6453d;
    position: absolute;
    bottom: 0;
    left: 60%;
    margin-left: -50px;
}
.about-safe p{
	font-size: 12px;
	color: #3b3b3b;
	text-align: center;
	padding: 18px 50px 62px;
	line-height: 21px;
	min-height: 105px;
}
.about-contact{
	background: #fff;
	display: block;
}
.about-contact h2{
	font-size: 34px;
	color: #222222;
	text-align: center;
	line-height: 193px;
}
.about-contact ul{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
	padding-bottom: 100px;
}
.about-contact li{
	width: 40.9%;
	padding-left: 5%;
	float: left;
}
.about-contact li #allmap{
	overflow: hidden;
	width: 91.7%;
	height: 549px;
	margin-left: 5%;
	float: left;
	display: inline;
}
.about-contact li .address{
	width: 100%;
	padding: 70px 0 0 2%;
	display: inline;
	float: right;
}
.about-contact li h3{
	width: 65.5%;
	font-size: 30px;
	color: #e6453d;
	line-height: 90px;
	border-bottom: 1px solid #dddddd;
}
.about-contact li p{
	font-size: 20px;
	color: #8b8b8b;
	width: 55%;
	padding: 20px 0;
}
.about-contact .list.size li p{
	font-size: 16px;
}
.about-contact li .p1{
	width: 35%;
	font-size: 18px;
	color: #8b8b8b;
	line-height: 18px;
}
.download-header{
	background: url('../images/img_2.jpg') no-repeat  center;
	background-size: cover;
}
.download-header li .phone{
	width: 84%;
	padding: 123px 0 123px 64px;
}
.download-header ul{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
}
.download-header li{
	width: 50%;
	float: left;
	position: relative;
}
.download-header li h2{
	width: 100%;
	font-size: 55px;
	color: #333333;
	padding-top: 160px;
}
.download-header li h3{
	width: 100%;
	font-size: 40px;
	color: #333333;
	/* padding-bottom: 40px; */
}
.download-header li .load{
	width: 55%;
	background: #f5f5f5;
	border-radius: 50px;
	margin-top: 10%;
}
.download-header li .load:hover,.download-header li .load.hover{
	background: #e6453d;
}
.download-header li h1{
	background: url(../imgs/load03.png) no-repeat  center;
	background-position: left;
	font-size: 32px;
	text-align: right;
	color: #e6453d;
	margin: 0 28%;
	padding: 10px 0;
}
.download-header li h1:hover,.download-header li h1.hover{
	color: #fff;
	background: url(../imgs/load03_1.png) no-repeat  center;
	margin: 0 28%;
	padding: 10px 0;
	background-position: left;
	font-size: 32px;
	text-align: right;
}
.download-header li p{
	background: url(../imgs/load04.png) no-repeat  center;
	background-position: left;
	font-size: 32px;
	text-align: right;
	color: #e6453d;
	margin: 0 18%;
	padding: 10px 0;
}
.download-header li p:hover,.download-header li p.hover{
	color: #fff;
	background: url(../imgs/load04_1.png) no-repeat  center;
	background-position: left;
	font-size: 32px;
	text-align: right;
	margin: 0 18%;
	padding: 10px 0;
}
.download-header li .erweima{
	width: 33%;
	float: right;
	margin-top: -33%;
}

.download-header .list.size li h2{
	font-size: 40px;
}
.download-header .list.size li h3{
	font-size: 30px;
}
.download-header .list.size li h1{
	font-size: 20px;
}
.download-header .list.size li p{
	font-size: 20px;
}


.download-content{
	height: 723px;
	padding-top: 20px;
}
.download-content h2{
	font-size: 34px;
	color: #333333;
	text-align: center;
	line-height: 190px;
}
.download-content ul{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
}
.download-content li{
	width: 18.6%;
	box-shadow: 0 0 15px rgba(86,86,86,.13);
	border-radius: 10px;
	float: left;
	margin: 0 7.3%;
}
.download-content li h3{
	font-size: 22px;
	text-align: center;
	color: #333333;
	line-height: 63px;
	position: relative;
}
.download-content li h3:after{
	content: "";
    height: 2px;
    width: 40px;
    background: #e6453d;
    position: absolute;
    bottom: 0;
    margin-left: -50px;
}
.download-content li p{
	font-size: 14px;
	text-align: center;
	color: #999999;
	padding: 15px 0 75px 0;
}
.download-content li img{
	padding: 83px 0 20px 0;
	margin: 0 auto;
	display: block;
}
.understand-header{
	width: 100%;
	height: 100%;
	background: url(../imgs/understand01.png) no-repeat center;
	background-size: cover;
}
.understand-header h1{
	font-size: 80px;
	color: #fff;
	width: 100%;
	text-align: center;
	line-height: 377px;
}
.understand-content{
	margin-bottom: 100px;
}
.understand-content .header{
	background: url(../imgs/understand13.png) no-repeat center;
	margin-left: 0 auto;
	margin-bottom: -30px;
	border-radius: 50px;
	z-index: 11;
}
.understand-content .header h1{
	font-size: 28px;
	color: #fff;
	line-height: 80px;
}
.understand-content .header-last{
	background: url(../imgs/understand14.png) no-repeat center;
	width: 33%;
	margin-left: 33.5%;
	margin-bottom: -30px;
	border-radius: 50px;
	position: relative;
	z-index: 1;
}
.understand-content .header-last h1{
	font-size: 28px;
	color: #fff;
	line-height: 80px;
}
.understand-content .introduce{
	max-width: 1520px;
	width: 92%;
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
}
.understand-content .introduce p{
	font-size: 16px;
	color: #333333;
	padding-top: 86px;
	margin-left: 5%;
	width: 90%;
}
.understand-content .introduce h2{
	font-size: 18px;
	color: #333333;
	background: url(../imgs/understand03.png) no-repeat center;
	background-position: left;
	padding-left: 20px;
	margin-top: 20px;
	margin-left: 5%;
}
.understand-content .introduce img{
	margin-left: 20%;
	width: 62.5%;
	padding-bottom: 20px;
}
.understand-content .advantage{
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
	padding: 100px 180px 62px;
	width: 60%;
}
.understand-content .advantage .p1{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand04.png) no-repeat center;
	background-position: left;
	padding-left: 135px;
	text-align: left;
}
.understand-content .advantage .p3{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand06.png) no-repeat center;
	background-position: left;
	padding-left: 135px;
	text-align: left;
}
.understand-content .advantage .p5{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand08.png) no-repeat center;
	background-position: left;
	padding-left: 135px;
	text-align: left;
}
.understand-content .advantage .p2{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand05.png) no-repeat center;
	background-position: right;
	padding-right: 135px;
	text-align: right;
}
.understand-content .advantage .p4{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand07.png) no-repeat center;
	background-position: right;
	padding-right: 135px;
	text-align: right;
}
.understand-content .advantage .p6{
	font-size: 20px;
	line-height: 109px;
	background: url(../imgs/understand09.png) no-repeat center;
	background-position: right;
	padding-right: 135px;
	text-align: right;
}
.understand-content .risk{
	max-width: 1520px;
	width: 92%;
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
	padding: 100px 0 62px;
}
.understand-content .risk ul{
	width: 100%;
}
.understand-content .risk li{
	width: 33%;
	float: left;
}
.understand-content .risk p{
	font-size: 15px;
	text-align: center;
}
.understand-content .risk img{
	margin: 0 auto;
	display: block;
}

.understand-content .choose{
	max-width: 1520px;
	width: 92%;
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
	padding: 100px 0 62px;
	z-index: 0;
}
.understand-content .choose p{
	font-size: 20px;
	line-height: 44px;
	color: #555555;
	margin-left: 9.8%;
	width: 81%;
}
.understand-content .choose p span{
	font-size: 30px;
	color: #fa8c3c;
	font-style: italic;
	font-weight: bold;
}
.understand-content .choose .now{
	font-size: 20px;
	border-radius: 50px;
	background: #3699ff;
	color: #fff;
	text-align: center;
	width: 21.3%;
	line-height: 66px;
	margin: 77px 0 0 39%;
}
.understand-content .choose .now:hover{
	background: #54a8fe;
}
.novice-headercontent{
	width: 100%;
}
.novice-headercontent img{
	width: 100%;
}
.novice-hover{
	max-width: 1520px;
	width: 92%;
	margin: 0 auto;
}
.novice-hover h2{
	width: 100%;
	font-size: 36px;
	color: #333333;
	text-align: center;
	line-height: 200px;
}
.novice-header{
	float: left;
	padding: 0 100px;
}
.novice-header li{
	padding-bottom: 11px;
	width: 80px;
	background: #c53b3a;
	border-radius: 20px;
	margin: 18px 0;
}
.novice-header li:hover,.novice-header li.hover{
	background: #ffb6b5;
}
.novice-header li img{
	width: 30px;
	padding: 13px 25px;
}
.novice-header li p{
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 15px;
}
.novice-content{
	width: 63.5%;
	margin: 0 auto;
}
.novice-content .content{
	display: none;
}
.novice-content .content p{
	font-size: 14px;
	color: #393939;
	padding-bottom: 58px;
	text-align: center;
}
.novice-content .content ul{
	margin-left: 80px;
}
.novice-content .content li{
	padding-bottom: 80px;
	width: 100%;
}
.novice-content .content .frame{
	width: 700px;
	margin-left: 7%;
}
.novice-content .content li .img1{
	width: 650px;
}
.novice-content .content li .img2{
	width: 490px;
	margin-top: -470px;
    margin-left: 80px;
}
.mypersonal-header li{
	float: left;
	border-bottom: 1px solid #fff;
	display: inline-block;
    text-align: center;
    margin-right: 97px;
}
.mypersonal-header a{
	font-size: 18px;
	color: #555555;
}
.mypersonal-header li:hover,.mypersonal-header li.hover{
	border-bottom: 1px solid #e6453d;
}
.mypersonal-header{
	border-bottom: 1px solid #dddddd;
}
.mypersonal-content .content{
	display: none;
}
.mypersonal-content .connect1{
	background: url(../imgs/promote01.png) no-repeat center;
	background-position: 10px 50px;
	padding: 40px 0 0 80px;
}
.mypersonal-content .connect2{
	background: url(../imgs/promote02.png) no-repeat center;
	background-position: 10px 50px;
	padding: 40px 0 0 80px;
}
.mypersonal-content .connect3{
	background: url(../imgs/promote03.png) no-repeat center;
	background-position: 10px 50px;
	padding: 40px 0 0 80px;
}
.mypersonal-content .connect1 h2{
	color: #e5b724;
	font-size: 20px;
}
.mypersonal-content .connect1 p{
	color: #a9a9a9;
	font-size: 16px;
}
.mypersonal-content .connect1 .p1{
	padding-top: 36px;
	float: left;
}
.mypersonal-content .connect1 h3,
.mypersonal-content .connect1 input{
	color: #a9a9a9;
	padding-top: 36px;
	font-size: 14px;
	width: 430px;
	border-bottom: 1px solid #a9a9a9;
	margin-left: 120px;
	text-align: left;
}
.mypersonal-content .connect1 .copy{
	background: #dddddd;
	color: #454545;
	font-size: 14px;
	width: 92px;
	line-height: 28px;
	text-align: center;
	border-radius: 20px;
	margin-left: 560px;
	margin-top: -28px;
}
.mypersonal-content .connect2 h2{
	color: #1874ba;
	font-size: 20px;
}
.mypersonal-content .connect2 p{
	color: #a9a9a9;
	font-size: 16px;
	line-height: 50px;
}
.mypersonal-content .connect2 img{
	width: 120px;
}
.mypersonal-content .connect3 h2{
	color: #8d8dc0;
	font-size: 20px;
}
.mypersonal-content .connect3 p{
	color: #a9a9a9;
	font-size: 16px;
	padding-top: 10px;
}
.mypersonal-content .connect3 .p1{
	padding-top: 36px;
	float: left;
}
.mypersonal-content .connect3 h3,
.mypersonal-content .connect3 input{
	margin-top: 36px;
	color: #a9a9a9;
	font-size: 14px;
	width: 341px;
	border-bottom: 1px solid #a9a9a9;
	/* margin-left: 120px; */
	text-align: left;
	background: none;
	border:none;
	border-bottom: 1px solid #a9a9a9;
}
.mypersonal-content .connect3 .copy{
	background: #dddddd;
	color: #454545;
	font-size: 14px;
	width: 112px;
	line-height: 28px;
	text-align: center;
	border-radius: 20px;
	margin-left: 468px;
	margin-top: -28px;
}
.mypersonal-content .money1 h2{
	font-size: 20px;
	color: #e5b724;
	padding-top: 25px;
}
.mypersonal-content .money1  p{
	font-size: 16px;
	color: #999999;
	padding-bottom: 25px;
}
.mypersonal-content .money2 img{
	float: left;
}
.mypersonal-content .money2 .date{
	padding-left: 515px;
}
.mypersonal-content .money2 .date h1{
	color: #1874ba;
	font-size: 20px;
	padding-top: 45px;
}
.mypersonal-content .money2 .date p{
	color: #999999;
	font-size: 16px;
	padding-bottom: 50px;
}
.mypersonal-content .money3 h2{
	font-size: 20px;
	color: #8d8dc0;
	padding-top: 40px;
}
.mypersonal-content .money3 p{
	font-size: 16px;
	color: #999999;
}
.mypersonal-content .money3 .use{
	float: left;
	padding-right: 12.8%;
	width: 70%;
}
.mypersonal-content .money4{
	padding-bottom: 64px;
}
.mypersonal-content .money4 h2{
	font-size: 20px;
	color: #e85851;
	line-height: 80px;
}
.mypersonal-content .money4 table{
	width: 675px;
}
.mypersonal-content .money4 table, th{
	height: 50px;
	border: 1px solid #cccccc;
	color: #929292;
	font-size: 16px;
	text-align: center;
}
.personal-right .certif-content{
	padding: 0;
}
.certif-content ul{
	padding: 0 20px;
}
.certif-content .header h1{
	background: url(../imgs/cer01.png) no-repeat center;
	background-position: 0 30px;
	font-size: 20px;
	color: #333333;
	padding: 12px 0 38px 20px;
	border-bottom: 1px solid #dddddd;
}
.certif-content .name{
	width: 100%;
	border-bottom: 1px solid #dddddd;
}
.certif-content .name img{
	float: left;
	padding: 30px 15px 0 0;
}
.certif-content .name h1{
	line-height: 79px;
	font-size: 16px;
	color: #333333;
	float: left;

}
.certif-content .name p{
	float: left;
	font-size: 16px;
	color: #e6453d;
	line-height: 79px;
	margin-left: 9%;
}
.certif-content .name h2{
	line-height: 79px;
	font-size: 16px;
	color: #4d81df;
	margin-left: 66%;
}
.certif-content .name h2.hover{
	color: #4d81df;
}

.certif-content .cert-content .cert{
	width: 100%;
	display: none;
	border-bottom: 1px solid #dddddd;
}
.certif-content .cert-content .cert dl{
	width: 325px;
	margin: 0 auto;
	padding: 35px 0;

}
.certif-content .cert-content .cert dl dd{
	font-size: 16px;
	color: #333333;
	text-align: right;
	margin: 10px 0;
	display: block;
	position: relative;
}
.certif-content .cert-content .cert dl dd input{
	height: 35px;
	width: 205px;
	border: none;
	border-bottom: 1px solid #999999;
	margin-left: 5px;
}
.certif-content .cert-content .cert dl dd span{
	color: #e6453d;
	padding-bottom: 10px;
}
.certif-content .cert-content .cert dl dd .code1{
	width: 88px;
	border-bottom: none;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0px;
    top: 50%;
    background: #fff;
    margin-top: -18px;
    color: #e6453d;
    font-size: 16px;
}
.certif-content .cert-content .cert dl dd .code2{
	width: 88px;
	border-bottom: none;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0px;
    top: 50%;
    background: #fff;
    margin-top: -18px;
    color: #e6453d;
    font-size: 16px;
}
.certif-content .cert-content .cert dl dd .code3{
	width: 88px;
	border-bottom: none;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0px;
    top: 50%;
    background: #fff;
    margin-top: -18px;
    color: #e6453d;
    font-size: 16px;
}
.certif-content .cert-content .cert dl dd .code4{
	width: 88px;
	border-bottom: none;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0px;
    top: 50%;
    background: #fff;
    margin-top: -18px;
    color: #e6453d;
    font-size: 16px;
}
.certif-content .cert-content .cert dl dd .your{
	color: #999999;
	font-size: 14px;
}
.certif-content .cert-content .cert dl dd .your[type=file]{
	/* background: red; */
}
.certif-content .cert-content .cert dl dd .yourpic{
	color: #999999;
	font-size: 14px;
	background: url(../imgs/cer06.png) no-repeat center;
	background-position: right;
}
.certif-content .cert-content .cert dl dd .yourpassword{
	color: #999999;
	font-size: 14px;
	background: url(../imgs/cer07.png) no-repeat center;
	background-position: right;
}
.certif-content .cert-content .cert dl dd .phonedown{
	color: #e6453d;
	font-size: 16px;
	/* text-align: right; */
}

.certif-content .cert-content .cert .sure{
	background: #e6453d;
	width: 80px;
	line-height: 32px;
	margin: 0 auto;
	margin-bottom: 12px;
	border-radius: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.certif-content .cert-content .cert p{
	width: 430px;
	line-height: 45px;
	padding-bottom: 20px;
	margin: 0 auto;
	font-size: 14px;
	color: #999999;
}
.certif-content .cert-content .cert dl dd img{
	width: 325px;
	padding-bottom: 50px;
}
.pages{
	text-align: center;
	font-size: 0;
	padding-bottom: 100px;
}
.pages li{
	display: inline-block;
	margin-left: -1px;
}
.pages li a{
	border: 1px solid #c0c0c0;
	display: block;
	line-height: 38px;
	font-size: 16px;
	color: #999999;
	padding: 0 15px;
}
.pages li:hover a,
.pages li.on a{
	border-color: #e6453d;
	color: #fff;
	background: #e6453d;
}
.onsdd {
	display: inline-block
}