#formdata{
    width: 740px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 20px;
}
#formdata label{
    color: #333333;
    position: relative;
    font-size: 0;
    margin-bottom: 22px
}
#formdata label input[type=text]{
    background: none;
    border:none;
    border-bottom: 1px solid #cccccc;
    margin-left: 18px;
    line-height: 35px;
    display: inline-block;
    font-size: 14px;
    width: 200px;
    height: 35px;
    color: #333;
    box-sizing: border-box
}
#formdata label span{
    line-height: 35px;
    display: inline-block;
    font-size: 16px;
}
#formdata label input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
  }
  
#formdata label input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
  }
  
#formdata label input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
  } 
  #formdata label p{
    line-height: 56px;
    font-size: 16px;
    text-align: center;
  }
#formdata label  .por{
    border:1px solid #eaeaea;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    width: 350px;
    background: url('../images/img_20.png') no-repeat center center;
    height: 206px;
    background-size: 100%;
}
#formdata label  .por input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
#formdata label:last-child .por{
    background: url('../images/img_21.png') no-repeat center;
    background-size: 100%;
}
#formdata label .por img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.submit_verified{
    font-size: 20px;
    color: #fefefe;
    background: #e6453d;
    line-height: 48px;
    display: block;
    width: 410px;
    border-radius: 50px;
    border:1px solid #e6453d;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: all 0.3s
}
.cato_table {
    padding-top: 25px;
}
.cato_table div{
    /* display: flex; */
    border-bottom: 1px solid #eeeeee
}
.cato_table p{
    /* width: calc( 100% / 5 ); */
    width: 20%;
    text-align: center;
    font-size: 14px;
    float: left;
    color: #888888;
    line-height: 50px;
}
.cato_table .cato_tbody{
    border-bottom: none;
    display: block;
}
.cato_tbody p{
    color: #555555;
}
.cato_tbody div{
    width: 100%;
}
.cato_tbody div::after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}
.flow p{
    width: 25%;
}
.recharge{
    padding-top: 40px;
    width: 632px;
    margin: 0 auto;
}
.recharge li{
    padding-bottom: 27px;
    display: flex;
    font-size: 0
}
.recharge li:nth-child(1),
.recharge li:nth-child(2),
.recharge li:nth-child(3){
    padding-bottom: 15px;
}
.recharge li p{
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    position: relative;
}
.recharge li p span{
    color: #128ede
}
.recharge li p i{
    font-style: normal;
    color: #999999;
    padding-left: 15px;
}
.recharge li input[type=text],
.recharge li input[type=password]{
    margin-left: 20px;
    line-height: 40px;
    background: none;
    border:none;
    width: 300px;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    height: 40px;
    color: #999999;
}
.recharge li input[type=tel]{
    margin-left: 20px;
    line-height: 40px;
    background: none;
    border:none;
    width: 150px;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    color: #999999;
}
.recharge li input[type=button]{
    border-bottom: 1px solid #cccccc;
    width: 130px;
    margin-left: 20px;
    background: #e6453d;
    border:none;
    border-radius: 50px;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
    border:1px solid #e6453d
}
.recharge li input[type=button].on{
    background: #999;
    border-color: #999;
}
.recharge li input[type=submit]{
    font-size: 20px;
    color: #fefefe;
    background: #e6453d;
    line-height: 48px;
    display: block;
    width: 410px;
    border-radius: 50px;
    margin-top: 13px;
    border: 1px solid #e6453d;
    margin-bottom: 40px;
    transition:all 0.3s
}
.recharge li input[type=submit]:hover,.submit_verified:hover{
    color: #e6453d;
    background: none;
    transition:all 0.3s
}
.persona_recharge{
    width: 410px;
    /* display: none; */
}
.recharge{
    display: none;
}
.recharge li  b,.recharge li  p a{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    font-size: 14px;
}
.recharge li  p a{
    font-size: 16px;
    color: #e6453d
}
.customer{
    padding-left: 48px;
    font-size: 14px;
    color: #555555;
    line-height: 26px;
    background: url('../images/img_22.png') no-repeat center left;
    background-size: 26px;
    margin: 0 auto;
    width: 220px;
    margin-top: 79px;
    cursor: pointer;
}
.protocol div p:first-child{
    width: 60%;
    text-align: left;
    padding-left: 5%;
    box-sizing: border-box
}
.protocol div p{
    width: 20%;
}
.protocol div p a{
    color: #e6453d;
}
.protocol{
    padding-bottom: 40px;
}
