.news_header img{
	width: 100%;
}
.stock_top{
    /* margin-top: -80px; */
    box-shadow: 0 6px 13px rgba(218,218,218,0.3);
    z-index: 2;
    background: #fff;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-flex;
    font-size: 0
}
.stock_top_left{
    border-right: 1px solid #dddddd;
    padding-right: 40px;
}
.stock_top_left>div{
    display: inline-flex;
}
.stock_top_left h2,.stock_top_right h2{
    font-size: 18px;
    color: #333333;
    line-height: 20px;
    padding-bottom: 30px;
    
}
.stock_top_left img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 19px;
}

.stock_top_left div:nth-last-child(1) h3{
    font-size: 20px;
    color: #333333;
    line-height: 22px;
    padding-top: 15px;;
    padding-bottom: 10px;
}
.stock_top_left p{
    font-size: 14px;
    color: #888888;
    width: 140px;
}
.stock_top_left p span{
    color: #128ede;
}
.stock_top_left a{
    display: block;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    background: #e6453d;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
}
.stock_top_right{
    padding-left: 40px;
}
.stock_top_right p{
    font-size: 14px;
    color: #666666;
    line-height: 27px;
}
.title{
    border-left: 3px solid #e6453d;
    padding-left: 12px;
    line-height: 32px;
    font-size:30px ;
    color: #232636;
    margin: 100px auto 59px ;
}
.stock_guwen{
    /* display: flex; */
}
.stock_guwen li{
    width:calc( ( 100% - 15% ) / 4 );
    margin-right: 5%;
    background: #fff;
    box-shadow: 0 1px 6px rgba(186,192,196,.5);
    padding: 2.65% ;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 80px;
    float: left;
}
.stock_guwen li:nth-child(4n){
    margin-right: 0;
}
.stock_guwen li>div{
    display: inline-flex;
    margin-bottom: 20px;
}
.stock_guwen li img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.stock_guwen li div h2{
    font-size: 18px;
    color: #333333;
    line-height: 20px;
    padding-top: 20px;
}
.stock_guwen li div p{
    font-size: 12px;
    color: #666;
    line-height: 14px;
}
.stock_guwen li h3>p{
    text-align: right;
    font-size: 16px;
    color: #888888;
    line-height: 40px;
}
.stock_guwen li h3>p span{
    font-size: 26px;
    float: left;
    color: #555555
}
.red{
    color: #fc5146 !important
}
.stock_guwen li h3{
    border-top: 1px solid transparent;
    /* border-bottom: 1px solid transparent; */
    border-color: #dddddd;
    padding: 8px 0;
}
.stock_guwen li>p{
    font-size: 12px;
    color: #888888;
    text-align: left;
    line-height: 16px;
    padding-top: 20px;
}
.stock_guwen li>p span{
    font-size: 16px;
}
.stock_guwen li>p i{
    width: 16px;
    height: 16px;
    background: url('../images/img_15.png') no-repeat center;
    background-size: 16px;
    display: block;
    float: right;
}
.stock_guwen li>p i.on{
    background: url('../images/img_16.png') no-repeat center;
    background-size: 16px;
}
.stock_peihang div,.thead{
    /* display: flex; */
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.stock_peihang div{
    border-top: none;
}
.stock_peihang.on div p,.thead.on p{
    width: 16.66%
}
.stock_peihang div:last-child{
    border-bottom: 1px solid #dddddd
}
.thead p{
    font-size: 16px;
    color: #999
}
.stock_peihang{
    padding-bottom: 100px
}
.stock_peihang div p,.thead p{
    /* width: calc( 100% / 7 ); */
    width: 14.28%;
    line-height: 48px;
    height: 48px; 
    float: left;
}
.stock_peihang div::after, .thead::after,.stock_list::after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}
.stock_peihang div p{
    font-size: 14px;
    color: #555555;
}
.stock_peihang div p span{
  display:block;
  text-align:center;
  margin:10px auto;
  height:28px;
  overflow:hidden;
  width:28px;
  border-radius: 100%
}
.stock_peihang div p img{
    max-width: 28px;
  display:block;
  margin:0 auto;
    
}
.stock_peihang div:nth-child(1) p.on{
    background: url('../images/one.png') no-repeat center;
}
.stock_peihang div:nth-child(2) p.on{
    background: url('../images/two.png') no-repeat center;
}
.stock_peihang div:nth-child(3) p.on{
    background: url('../images/three.png') no-repeat center;
}
.stock_peihang div:nth-child(4) p.on{
    background: url('../images/four.png') no-repeat center;
}
.stock_peihang div:nth-child(5) p.on{
    background: url('../images/five.png') no-repeat center;
}
.stock_peihang div:nth-child(6) p.on{
    background: url('../images/six.png') no-repeat center;
}
.stock_peihang div:nth-child(7) p.on{
    background: url('../images/seven.png') no-repeat center;
}
.stock_peihang div:nth-child(8) p.on{
    background: url('../images/eight.png') no-repeat center;
}
.stock_peihang div:nth-child(9) p.on{
    background: url('../images/nine.png') no-repeat center;
}
.stock_peihang div:nth-child(10) p.on{
    background: url('../images/ten.png') no-repeat center;
}

.stock_peihang div p  a{
    color: #128ede
}
.stock_list {
    /* display: flex; */
    padding-bottom: 30px;
}
.stock_list li{
    width: 216px;
    font-size: 16px;
    color: #333333;
    float: left;
    text-align: center;
    position: relative;
    line-height: 16px;
    padding-bottom: 10px;
    cursor: pointer;
}
.stock_list li.on::after{
    content: "";
    width: 22px;
    height: 3px;
    background: #e6453d;
    left: calc( 50% - 11px );
    position: absolute;
    bottom: 0;
}
.nav_title{
    font-size: 16px;
    color: #888888;
    line-height: 18px;
    padding: 60px 0
}
.nav_title a{
    color: #888888
}
.nav_title a:hover{
    color: #ef0a31
}
.stock_info_top{
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}
.stock_info_top img{
    max-width: 60px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin-right: 31px;
    float: left;
}
.stock_info_top h2{
    font-size: 18px;
    color: #333333;
    line-height: 36px;;
}
.stock_info_top div.fl{
    width: calc( ( 27% - 91px )  )
}
.stock_info_top div.fl p{
    display: inline-block;
    font-size: 14px;color: #888888;
    margin-right:8%;
}
.stock_info_top i{
    width: 1px;
    height: 60px;
    display: block;
    background: #dddddd;
    position: absolute;
    top: 40px;
    left : calc( 50% - 1px );
    display: none;
}
.stock_info_top ul{
    text-align: right;
    font-size: 0;
    width: 67%;
    box-sizing: border-box;
    padding-left: 11%;
    border-left: 1px solid #dddddd;
}
.stock_info_top ul li{
    padding: 0 7%;
    display: inline-block;
    text-align: left;
    width: calc( ( 100% / 4 )  );
    box-sizing: border-box;
    overflow: hidden;
}
.stock_info_top ul h2{
    font-size: 14px;
    color: #888888;
    line-height: 16px;
}
.stock_info_top ul p{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 18px;
}
.green{
    color: #00a100 !important;
}
.red{
    color: #d95654 !important;
}
.stock_info_top ul li:last-child{
    padding: 0 0 0 7%;
    text-align: center;
}
.stock_info_top ul li h3{
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    width: 70px;
    background: #e6453d;
    margin: 0 0 10px auto;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border:1px solid #e6453d;
    transition:all 0.3s;
}
.stock_info_top ul li h3:hover{
    color: #e6453d;
    background: none;
    transition:all 0.3s;
}
.title.on{
    margin: 80px auto 44px
}
.table {
    display: table;
    width: 100%;
    text-align: center;
}
.table-thead,.table-tbody div{
    width: 100%;;
    /* display: inline-flex; */
    font-size: 14px;
    color: #999999;
    border-bottom: 1px solid #eeeeee
}
.table-thead::after,.table-tbody div::after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}
.table p{
    line-height: 49px;
    /* width: calc( 100% / 7 ); */
    width: 14.28%;
    float: left;
    font-weight: bold;
}
.table-tbody div p{
    color: #555555
}
.pages{
	text-align: center;
    font-size: 0;
    padding-top: 40px;;
	padding-bottom: 100px;
}
.pages li{
	display: inline-block;
	margin-left: -1px;
}
.pages li a{
	border: 1px solid #c0c0c0;
	display: block;
	line-height: 38px;
	font-size: 16px;
	color: #999999;
	padding: 0 15px;
}
.pages li:hover a,
.pages li.on a{
	border-color: #e6453d;
	color: #fff;
	background: #e6453d;
}