.nav_title{
    font-size: 16px;
    color: #888888;
    line-height: 18px;
    padding: 60px 0
}
.nav_title a{
    color: #888888
}
.nav_title a:hover{
    color: #ef0a31
}
.title{
    border-left: 3px solid #e6453d;
    padding-left: 12px;
    line-height: 32px;
    font-size:30px ;
    color: #232636;
    margin: 100px auto 59px ;
}
.title.on{
    margin: 80px auto 44px
}
.title.in{
    margin: 0 0 60px 0;
}
.nav_title.in{
    padding-bottom: 40px;
}
.track_top li{
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 6px rgba(186,192,196,.5);
    padding: 2%;
    float: left;
    margin: 0 4% 4% 0;
    width: calc( ( 104% / 5 ) - 4% );
    border-radius: 5px;
}
.track_top li:nth-child(5n){
    margin-right: 0;
}
.track_top a,.track_bottom a>div.first{
    /* display: flex */
    display: block;
    /* font-size: 0; */
    zoom: 1;
    width: 100%;
}
.track_bottom a>div.first{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.track_top a::after,.track_bottom a>div.first::after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}
.track_top  img{
    max-width: 60px;
    overflow: hidden;
    display:block;
    border-radius: 100%;
    margin-right: 14%;
    float: left;
    height: 60px;
    width: 60px
    
}
.track_top div{
    float: left;
    width: 55%
}
.track_top h2{
    font-size: 18px;
    color: #333333;
    line-height: 28px;;
}
.track_top p{
    font-size: 14px;
    color: #ffffff;
    line-height: 32px;
    background: #128ede;
    border: 1px solid #128ede;
    box-sizing: border-box;
    padding: 0 22px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s
}
@media screen and (max-width: 1640px) {
    .track_top li{
    width: calc( ( 102% / 5 ) - 2% );

    }
    .track_top li{
        margin: 0 2% 2% 0
    }
}
@media screen and (max-width: 1440px) {
    .track_top li{
        width: calc( ( 102% / 4 ) - 2% );
    }
    .track_top li{
        margin: 0 2% 2% 0
    }
    .track_top li:nth-child(5n){
        margin: 0 2% 2% 0;
    }
    .track_top li:nth-child(4n){
        margin-right: 0
    }
}
.table {
    display: table;
    width: 100%;
    text-align: center;
}
.table-thead,.table-tbody div{
    width: 100%;;
    display: inline-flex;
    font-size: 14px;
    color: #999999;
    border-bottom: 1px solid #eeeeee
}
.table p{
    line-height: 49px;
    width: calc( 100% / 7 );
    font-weight: bold;
}
.table-tbody div p{
    color: #555555
}
.pages{
	text-align: center;
    font-size: 0;
    padding-top: 40px;;
	padding-bottom: 100px;
}
.pages li{
	display: inline-block;
	margin-left: -1px;
}
.pages li a{
	border: 1px solid #c0c0c0;
	display: block;
	line-height: 38px;
	font-size: 16px;
	color: #999999;
	padding: 0 15px;
}
.pages li:hover a,
.pages li.on a{
	border-color: #e6453d;
	color: #fff;
	background: #e6453d;
}
.track_bottom li{
    width: calc( ( 105.6% / 4 ) - 5.6% );
    margin: 0 5.6% 4% 0
}
.track_bottom li:nth-child(5n){
    margin: 0 5.6% 4% 0;
}
.track_bottom li:nth-child(4n){
    margin-right: 0
}
@media screen and (max-width: 1640px) {
    .track_bottom li{
        width: calc( ( 104% / 4 ) - 4% );
    }
    .track_bottom li{
        margin: 0 4% 4% 0
    }
}
@media screen and (max-width: 1440px) {
    .track_bottom li{
        width: calc( ( 105.6% / 4 ) - 5.6% )
    }
    .track_bottom li{
        margin: 0 5.6% 4% 0
    }
    .track_bottom li:nth-child(5n){
        margin: 0 5.6% 4% 0;
    }
    .track_bottom li:nth-child(4n){
        margin-right: 0
    }
}
.track_bottom a h3{
    text-align: left;
    font-size: 26px;
    line-height: 40px;
    display: block;
    color: #555555
}
.track_bottom a h3 span{
    font-size: 16px;
    color: #888888;
    float: right;
}
.track_bottom a h3:first-child{
    color: #fc5146;
    padding-top: 9px;
}
.track_bottom a>div{
    width: 100%
}
.track_top p:hover{
    background: none;
    color: #128ede;
    transition: all 0.3s
}