<ul class="rechange-nav f-cb">
    <li><a href="personal_drawing.html">我要提款</a></li>
    <li><a href="personal_drecord.html">提款记录</a></li>
    <li><a href="personal_card.html">银行卡管理</a></li>
</ul>
<script>
    $(function(){
        var id = $('.rechange-nav').parents(".includeDom").data("index");
        $('.rechange-nav li').eq(id).addClass('hover');
    })
</script>