<style>
  #android canvas,#ios canvas{
    max-width:80px;
    max-height:80px;
  }
</style>
<script src="static/js/jqueryqr.js"></script>
        <script src="static/js/qrcode.js"></script>
<footer id="footer">
    <div class="w1520 footer-top f-cb">
        <ul class="f-cb list">
            <li>
                <h2>关于我们</h2>
                <p>电话：<span class="tel">{{list.tel}}</span>（工作日 9:00-18:00）</p>
                <!-- <p>网址：<a href="javascript:;" target="_blank">www.gppz.com</a></p> -->
                <p>地址：{{list.address}}</p>
            </li>
            <li>
                <h2>帮助中心</h2>
                <p><a href="novice.html">操作指南</a></p>
                <p><a href="download.html">软件下载</a></p>
            </li>
            <li>
                <h2>产品中心</h2>
                <p><a href="stocks.html">炒股大赛</a></p>
                <p><a href="track.html">高手跟踪</a></p>
            </li>
            <li>
                <h2>个人中心</h2>
                <p><a href="personal.html">我的账户</a></p>
                <p><a href="certification.html">密码设置</a></p>
                <p><a href="customer.html">客服中心</a></p>
            </li>
        </ul>
        <div class="right">
            <a href="javascript:;">
                <h3>Android下载</h3>
              	<div id="android" style="padding:5px;background:#fff;width:80px;height:80px;"></div>
            </a>
            <a href="javascript:;">
                <h3>iOS下载</h3>
              	<div id="ios" style="padding:5px;background:#fff;width:80px;height:80px;"></div>
            </a>
        </div>
    </div>
    <div class="footer-bot">
        <!-- <div class="likes">
            <a href="javascript:;">
                <img src="static/img/footer03.jpg" alt="">
            </a>
            <a href="javascript:;">
                <img src="static/img/footer04.jpg" alt="">
            </a>
            <a href="javascript:;">
                <img src="static/img/footer05.jpg" alt="">
            </a>
            <a href="javascript:;">
                <img src="static/img/footer06.jpg" alt="">
            </a>
        </div> -->
        <p>{{list.record}}</p>
    </div>
</footer><!-- footer -->
<script>
new Vue({
    el:'#footer',
    props: {
    },
    data:function() {
        return {
            list:{}
        };
    },
    computed: {
    },
    mounted:function() {
        this.bottomPC()
    },
    methods: {
        bottomPC:function(){
                    var _this = this;
          			axios.defaults.s = false;
                    axios.post('/index/index/bottomPC')
                    .then(function (res) {
                        if(res.data.status==1){
                           _this.list = res.data.list ;
                          console.log(_this.list)
                          var and = _this.list.anzhuo_down;
                          var ios = _this.list.ios_down;
                          $("#android").qrcode({
                            text:and,
                            width:80,
                            height:80,
                          })
                          $("#ios").qrcode({
                            text:ios,
                            width:80,
                            height:80,
                          })
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
    },
})
</script>