<header id="header">
    <a href="index.html" class="logo">
        <img src="static/img/header01.png" alt="">
    </a>
    <ul class="header-nav f-cb">
        <li><a href="index.html">首页</a></li>
        <li><a href="news.html">新闻资讯</a></li>
        <li><a href="stocks.html">炒股大赛</a></li>
        <li><a href="track.html">高手跟踪</a></li>
        <!-- <li><a href="stock_day.html">股票配资</a></li> -->
        <!-- <li><a href="stock_free.html">免息体验</a></li> -->
        <!-- <li><a href="about.html">关于我们</a></li> -->
        <li><a href="novice.html">操作指南</a></li>
    </ul>
    <div class="right f-cb">
        <a href="download.html" class="fl">APP下载</a>
        <!-- <div class="lr">
            <a href="login.html?type=0" class="fl">登录</a>
            <a href="login.html?type=1" class="fr">注册</a>
            <span class="line"></span>
        </div> -->
        <div class="lr" :class="show?'on':''">
            <a :href="show?'personal.html':'login.html?type=0'" class="fl">{{listd.name}}</a>
            <a href="login.html?type=1" v-if="!show" class="fr">{{listd.del}}</a>
            <a href="JavaScript:;" v-if="show" class="fr" @click="del">{{listd.del}}</a>
            <span class="line" v-if="!show"></span>
        </div>

    </div>
</header><!-- header -->
<script>
    $(function(){
        var id = $("#header").parents(".includeDom").data('index');
        $('.header-nav li').eq(id).addClass('hover')
    })
    new Vue({
        el:'#header',
        data:function() {
            return {
                listd:{
                    name:"登录",
                    del:"注册"
                },
                show:false
            };
        },
        mounted:function() {
            if(sessionStorage.getItem('login')){
                login=JSON.parse(sessionStorage.getItem('login'))
                this.listd.name=login.account;
                this.listd.del='退出';
                this.show=true;
                console.log(111)
            }
        },
        methods: {
            del:function(){
                sessionStorage.removeItem('login');
                window.location.href='login.html?type=0'
            }
        }
    })
</script>