<div class="personal-nav">
    <div class="personal-nav-top">
        <div class="header-picture">
            <span class="picture" id="xgtx">
                <img src="" alt="点击上传头像" title="点击上传头像" width="100%" style="    cursor: pointer;">
            </span>
        </div>
        <p><b></b> <a href="javascript:;" class="change-name" onclick="changeName()"></a></p>
    </div>
    <div class="title">
        <span class="ico2">我的账户</span>
    </div>
    <div class="con">
        <a href="personal.html" data-number="0">个人中心</a>
        <a href="personal_verified.html" data-number="1">实名认证</a>
        <a href="personal_capital.html" data-number="3">资金明细</a>
        <a href="personal_alipay.html" data-number="8">转账充值</a>
        <a href="certification.html" data-number="4">密码设置</a>
        <!-- <a href="personal_protocol.html" data-number="5">相关协议</a> -->
    </div>
    <div class="title">
        <span class="ico4">其他服务</span>
    </div>
    <div class="con">
        <a href="my_promote.html" data-number="6">我的推广</a>
        <a href="customer.html" data-number="7">客服中心</a>
    </div>
</div>
<script>
    $(function () {
        var id = $('.personal-nav').parents(".includeDom").data("number");
        $('.personal-nav .con a').each(function () {
            var a_id = $(this).data('number')
            if (id == a_id) {
                $(this).addClass('hover');
            };
        })
    })
    cook = document.createElement("script");
    cook.setAttribute("type", "text/javascript");
    cook.setAttribute("src", "static/js/jquery.cookie.js");
    document.body.appendChild(cook);
</script>
<script>
    function changeName() {
        layer.open({
            type: 1,
            title: "设置昵称",
            area: ['600px', '250px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div class="form-box">\n' +
                '        <div class="form-label"><i>*</i><span>设置昵称:</span><input type="text" placeholder="请输入你的昵称" id="name" value="" onchange="check()"/></div>\n' +
                '        <div class="ant-form-explain" id="test">请填写您的昵称，最多7个字符</div>\n' +
                '        <input type="button" value="确定" class="suy" onclick="setname()" />\n' +
                '    \<\/div>'
        });
    }
    //检查输入的昵称的长度，最多7个字符
    function check() {
        var abc = $("#name").val();
        var len = abc.length;
        if (len > 7 || len == 0) {
            $("#test").css("display", "block");
            $(".suy").removeAttr("onclick");
        } else {
            $(".suy").attr("onclick", "setname()");
        }
    }

    //设置昵称
    function setname() {
        $(function () {
            layer.closeAll();
            //修改成功后再弹出一层提示修改成功的框
            axios.get('/index/index/nickname', { params: Object.assign({ account: login.account }, { nickname: $("#name").val() }) })
                .then(function (res) {
                    if (res.data.status == 1) {
                        //用户名存cookie
                        var nick_name = $.cookie("nick_name");
                        $(".siot").html(nick_name);
                        layer.closeAll();
                        //修改成功后再弹出一层提示修改成功的框
                        layer.open({
                            type: 1,
                            title: "修改成功",
                            area: ['400px', '150px'],
                            shadeClose: true, //点击遮罩关闭
                            content: '\<\div class="box6"><div class="box6left">\n' +
                                '    <div class="box6lftcen">\n' +
                                '      <img src="static/img/quer.png">\n' +
                                '    </div>\n' +
                                '    </div>\n' +
                                '    <div class="box6rig">\n' +
                                '        <div class="box6rigcen">\n' +
                                '            <p>昵称已经修改</p >\n' +
                                '        </div>\n' +
                                '\n' +
                                '    </div> \<\/div>'
                        });
                        setTimeout(function () {
                            layer.closeAll();
                            mydetail()
                        }, 1000); //延迟1秒后关闭 
                    } else {
                        alert("修改失败");
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });

        })
    }
    function mydetail() {
        axios.get('/index/index/mydetail', { params: login })
            .then(function (res) {
                if (res.data.status == 1) {
                    $(".personal-nav-top p b").text(res.data.list.nick_name);
                    $(".picture img").attr("src", res.data.list.headurl)
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }
    mydetail()
    $('#xgtx').on('click', function () {
        layer.open({
            type: 1,
            title: "修改头像",
            area: ['600px', '350px'],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div class="box5"> <div class="max-box">\n' +
                '\n' +
                '<img src="static/img/header.jpg" style="width:100%;height:100%" id="lala" />' +
                '        </div>\n' +

                '<input type="file" class="up" style="display:none" name="headurl" onchange="setheader(this.files[0])" id="upfile">' +
                '        <input type="button" class="suy" value="点击上传" onclick="$(this).parent().find(\'.up\').trigger(\'click\')"; />\<\/div>' +

                '\<\script> var src = $("#xgtx img").attr("src");$("#lala").attr("src",src);\<\/script>'
        });
    });
    function setheader(file) {


        var fd = new FormData();
        fd.append('headurl', file);
        fd.append('account', login.account);
        axios.post('/index/index/uploadheadPC', fd)
            .then(function (res) {
                    var dataObj =res.data
                    if (dataObj.status == 1) {
                        var src = dataObj.list.headurl;
                        $("#lala").attr("src", src);
                        $("#xgtx img").attr("src", src);
                        layer.closeAll();
                        //修改成功后再弹出一层提示修改成功的框
                        layer.open({
                            type: 1,
                            title: "修改成功",
                            area: ['400px', '150px'],
                            shadeClose: true, //点击遮罩关闭
                            content: '\<\div class="box6"><div class="box6left">\n' +
                                '    <div class="box6lftcen">\n' +
                                '      <img src="static/img/quer.png">\n' +
                                '    </div>\n' +
                                '    </div>\n' +
                                '    <div class="box6rig">\n' +
                                '        <div class="box6rigcen">\n' +
                                '            <p>头像已经修改</p >\n' +
                                '        </div>\n' +
                                '\n' +
                                '    </div> \<\/div>'
                        });
                        setTimeout(function () {
                            layer.closeAll();
                        }, 1000); //延迟1秒后关闭 
                    }
                    if (dataObj.status == 1100) {
                        layer.open({
                            type: 1,
                            title: "提示",
                            area: ['600px', '150px'],
                            shadeClose: true, //点击遮罩关闭
                            content: '\<\div class="box6" style="margin-left: 1%;margin-top: 5%;"><div class="box6left">\n' +
                                '    <div class="box6lftcen">\n' +
                                '      <img src="static/img/error.png">\n' +
                                '    </div>\n' +
                                '    </div>\n' +
                                '    <div class="box6rig">\n' +
                                '        <div class="box6rigcen" style="text-align:center;">\n' +
                                '            <p>' + dataObj.msg + '</p >\n' +
                                '        </div>\n' +
                                '\n' +
                                '    </div> \<\/div>'
                        });
                        return;

                    }
            })
            .catch(function (error) {
                console.log(error);
            });

    }
</script>