<ul class="rechange-nav f-cb">
        <li><a href="personal_capital.html">钱包流水</a></li>
        <li><a href="personal_flow.html">策略交易流水</a></li>
        <!--<li><a href="personal_recharge.html">充值</a></li>-->
        <li><a href="personal_withdraw.html">提现</a></li>
    </ul>
    <script>
        $(function(){
            var id = $('.rechange-nav').parents(".includeDom").data("index");
            $('.rechange-nav li').eq(id).addClass('hover');
        })
    </script>