<ul class="rechange-nav f-cb">
    <li><a href="my_promote.html">我的推广</a></li>
    <!-- <li><a href="promote_money.html">推广赚钱</a></li> -->
</ul>
<script>
    $(function(){
        var id = $('.rechange-nav').parents(".includeDom").data("index");
        $('.rechange-nav li').eq(id).addClass('hover');
    })
</script>