<ul class="rechange-nav f-cb">
    <li><a href="personal_alipay.html">支付宝转账</a></li>
    <li><a href="personal_record.html">充值记录</a></li>
</ul>
<script>
    $(function(){
        var id = $('.rechange-nav').parents(".includeDom").data("index");
        $('.rechange-nav li').eq(id).addClass('hover');
    })
</script>