<ul class="stock-nav f-cb">
    <li>
        <i class="ico1"></i>
        <p>申请操盘方案</p>
    </li>
    <li>
        <i class="ico2"></i>
        <p>支付保证金(本金)</p>
    </li>
    <li>
        <i class="ico3"></i>
        <p>获取交易账户</p>
    </li>
    <span class="line"></span>
</ul>
<script>
    var nav = $('.stock-nav').parents(".includeDom").data("index");

    $('.stock-nav li').each(function(){
        if ($(this).index() <= nav) {
            $(this).addClass('hover');
        };
    })

</script>